$green-color: #00950F
$bg-light-green: #DAFFC9

$font-color: rgba(0, 0, 0, .8)

$white: #ffffff

$bg-light-color: rgba(3, 0, 144, 0.05)

$default-font: "Exo 2", sans-serif
$second-font: "Caveat", sans-serif
$default-transition: .35s
$default-opacity: .8

*, body, html 
	margin: 0
	padding: 0
	box-sizing: border-box

html, body
	min-width: 320px
	font-family: $default-font
	font-weight: 500
	font-style: normal
	color: #000
	background-color: $white
	overflow-x: hidden

html
	height: 100%
	scroll-behavior: smooth

body 
	position: relative
	height: 100%

	&.modal-active
		overflow: hidden

button,
input,
textarea,
select
	outline: none
	border-radius: 0
	-moz-appearance: none
  -webkit-appearance: none
  +prefix(appearance, none)

a
	text-decoration: none
	outline: none

.main-wrap
	+flex
	position: relative
	width: 100%
	min-height: 100%
	+flex-direction(column)
	+align-items(center)

.wrap
	width: 100%
	-webkit-box-flex: 1
	-ms-flex: 1 0 auto
	flex: 1 0 auto

.container 
	margin: 0 auto
	padding: 0 15px
	width: 100%
	max-width: 1140px

	&-page-head
		font-size: 34px
		font-weight: 500
		line-height: 40px
		color: #000

		&-discount
			margin:
				left: 20px
			padding: 7px 13px 11px 13px
			font-size: 18px
			font-weight: 700
			line-height: 21px
			color: #ff0000
			border: 1px solid #FF0000

	&-head
		padding:
			bottom: 10px

		&-text
			display: inline-block
			position:  relative
			font-size: 34px
			font-weight: 500
			line-height: 40px
			color: #000

			&:after
				content: ''
				display: block
				position: absolute
				right: 0
				bottom: -10px
				width: 1000%
				height: 2px
				background-color: #DAFFC9

		&.reverse
			+flex

			.container-head-text
				margin: 0 0 0 auto
				&:after
					left: 0

.breadcrumbs
	+flex
	margin:
		top: 30px
		bottom: 10px

	&-elem
		font-size: 12px
		font-weight: 500
		line-height: 14px
		color: rgba(0, 0, 0, .3)

		&:after
			content: '—'
			position: relative
			margin: 0 5px

		&:last-child
			&:after
				display: none

.slick-slide
	outline: none

.slick-arrow
	position: absolute
	width: 50px
	height: 50px
	font-size: 0
	background-size: 12px 25px
	background-repeat: no-repeat
	border: 0
		radius: 100px
	+prefix(transition, $default-transition)
	cursor: pointer
	z-index: 1

	&.slick-prev
		background-position: left 17px center
	
	&.slick-next
		background-position: right 17px center

	&.slick-disabled
		opacity: .5
		cursor: default

.slick-dots
	+flex
	position: absolute
	left: 50%
	bottom: 0
	+prefix(transform, translateX(-50%))
	list-style-type: none
	+align-items(center)

	button
		margin: 0 5px
		width: 81px
		height: 4px
		font-size: 0
		background-color: #631E01
		border: 0
			radius: 10px
		+prefix(transition, $default-transition)
		cursor: pointer
		opacity: .2
	
	.slick-active
		button
			opacity: 1
			+box-shadow(0px 0px 4px rgba(0, 0, 0, 0.25))

.slick-nav-bottom
	+flex()
	padding: 0
	+justify-content(center)
	+align-items(center)
	+flex-wrap(wrap)

	.slick-list
		order: 1

	.slick-arrow
		position: relative
		margin: 0
		top: auto
		left: auto
		right: auto
		bottom: auto
		background-color: transparent

		&.slick-prev
			left: 10px
			background-image: url(../img/icon/arrow-ps-l-w.svg)
			order: 2

			&:not(.slick-disabled):hover
				background-image: url(../img/icon/arrow-s-l.svg)
		
		&.slick-next
			right: 10px
			background-image: url(../img/icon/arrow-ps-r-w.svg)
			order: 4

			&:not(.slick-disabled):hover
				background-image: url(../img/icon/arrow-s-r.svg)

		&:not(.slick-disabled):hover
			background-color: #631E01
		
	.slick-dots
		position: relative
		margin: 0 25px
			top: -12px
		left: auto
		bottom: auto
		+prefix(transform, translate(0))
		order: 3

		button
			width: 35px

.product
	+flex()

	&-item
		padding: 0 15px
		width: 33.33%

		&-wrap
			background-color: $white
			border: 1px solid #DFDFDF
			border-radius: 10px
			+box-shadow(0px 5px 7px rgba(0, 0, 0, 0.1))
			overflow: hidden
		
		&-img-wrap
			display: block
			position: relative
			width: 100%
			min-height: 218px
			overflow: hidden

			&:hover
				.product-item-img
					+prefix(transform, scale(1.02))

		&-img
			position: absolute
			top: 0
			left: 0
			right: 0
			bottom: 0
			width: 100%
			height: 100%
			object-fit: cover
			+prefix(transition, $default-transition)
		
		&-action-icon
			display: none
			position: absolute
			top: 3px
			right: 2px
			width: 42px
			height: 42px
			background-image: url(../img/icon/action-item.svg)
			background-size: cover
			background-position: center center
			background-repeat: no-repeat
			z-index: 10

		&-info
			padding: 0 18px

		&-name
			margin:
				top: 5px
			font-size: 18px
			font-weight: 700
			line-height: 21px
			color: #000
			text-transform: uppercase
		
		&-size
			margin:
				top: 10px
			font-size: 14px
			font-weight: 700
			line-height: 16px
			color: $green-color

			span
				&:last-child
					&:after
						display: none

				&:after
					content: ', '

		&-room
			+flex()
			margin:
				top: 10px
			
			&-elem
				+flex()
				padding: 0 5px
				width: 50%
				font-size: 14px
				font-weight: 500
				line-height: 16px
				color: $green-color
				+justify-content(center)
				+align-items(center)

				&:first-child
					border:
						right: 1px solid #C4C4C4

			&-img
				margin:
					right: 10px

			&-val
				font-weight: 700
		
		&-time
			margin:
				top: 10px
			font-size: 14px
			font-weight: 500
			line-height: 16px
			color: rgba(0, 0, 0, .6)

			&-val
				font-weight: 700
				color: $green-color
		
		&-bottom
			+flex
			margin: 0 5px
				top: 12px
			padding:
				top: 8px
				left: 13px
				right: 4px
				bottom: 14px
			border:
				top: 1px solid #C4C4C4
			+align-items(center)
			
		&-price
			margin:
				right: 10px
			font-size: 14px
			font-weight: 700
			line-height: 16px
			color: #000

		&-more
			margin: 0 0 0 auto
			padding: 9px 11px
			font-size: 14px
			font-weight: 500
			line-height: 16px
			color: $green-color
			background-color: $bg-light-green
			border-radius: 10px
			+prefix(transition, $default-transition)

			&:hover
				background-color: #b9ff99

		&-date
			font-size: 14px
			font-weight: 500
			line-height: 16px
			color: rgba(0, 0, 0, .6)

		&-price-range
			+flex
			margin:
				top: 15px

			&-elem
				padding: 8px 5px 13px 5px
				width: 50%
				font-size: 14px
				line-height: 16px
				text-align: center
				background-color: $bg-light-green

				&:first-child
					border:
						right: 1px solid $white

			&-title
				font-weight: 400
				color: rgba(0, 0, 0, .5)
			
			&-val
				margin:
					top: 5px
				font-weight: 700
				color: #000

		&.action
			.product-item-action-icon
				display: block

.product-slider
	position: relative
	padding: 0 80px

	.slick-list
		padding:
			bottom: 30px

	.slick-arrow
		margin:
			top: -25px
		top: 50%
		background-color: transparent

		&.slick-prev
			left: 10px
			background-image: url(../img/icon/arrow-ps-l-w.svg)

			&:not(.slick-disabled):hover
				background-image: url(../img/icon/arrow-s-l.svg)
		
		&.slick-next
			right: 10px
			background-image: url(../img/icon/arrow-ps-r-w.svg)

			&:not(.slick-disabled):hover
				background-image: url(../img/icon/arrow-s-r.svg)

		&:not(.slick-disabled):hover
			background-color: #631E01

	.slick-dots		

	.product-item
		padding: 0 10px

.custom-link
	font-size: 14px
	font-weight: 500
	line-height: 16px
	color: #631e01
	text-decoration: underline
	+prefix(transition, $default-transition)

	&:hover
		opacity: $default-opacity

.news

	&-elem
		+flex
		margin:
			bottom: 15px
		background-color: $white
		border: 1px solid #DFDFDF
		border-radius: 10px
		+box-shadow(0px 5px 7px rgba(0, 0, 0, 0.1))
		+prefix(transition, $default-transition)
		overflow: hidden

		&:last-child
			margin: 0

		&:hover 
			+box-shadow(0px 9px 11px rgba(0, 0, 0, 0.1))

			.news-elem-title
				opacity: $default-opacity
	
		&-img-wrap
			position: relative
			min-width: 147px
			max-width: 147px
			height: 147px
			border-radius: 10px
			overflow: hidden
		
		&-img
			position: absolute
			top: 0
			left: 0
			right: 0
			bottom: 0
			width: 100%
			height: 100%
			object-fit: cover
		
		&-info
			padding:
				top: 12px
				left: 25px
				right: 18px
				bottom: 25px
		
		&-date
			font-size: 14px
			font-weight: 400
			line-height: 21px
			color: #8a8a8a
		
		&-title
			display: -moz-box
			display: -moz-inline-box
			display: -webkit-box
			display: -webkit-inline-box
			margin:
				top: 10px
			height: 76px
			font-size: 16px
			font-weight: 700
			line-height: 19px
			color: $font-color
			-webkit-line-clamp: 4
			-webkit-box-orient: vertical
			-ms-text-overflow: ellipsis
			-o-text-overflow: ellipsis
			text-overflow: ellipsis
			overflow: hidden
			+prefix(transition, $default-transition)

.form
	position: relative
	margin: 0 auto
	padding: 0 70px
		top: 40px
		bottom: 60px
	max-width: 600px
	text-align: center
	background-color: $white
	border: 1px solid #DFDFDF
		radius: 10px
	
	&:after
		content: ''
		display: block
		position: absolute
		left: -60px
		bottom: -40px
		width: 160px
		height: 109px
		background-image: url(../img/form-leaves.png)
		background-size: cover
		background-position: center center
		background-repeat: no-repeat
	
	&-title
		padding:
			bottom: 10px
		font-size: 34px
		font-weight: 500
		line-height: 40px
		color: #000
		border-bottom: 2px solid #DFDFDF
	
	&-desc
		margin:
			top: 5px
			bottom: 40px
		font-size: 16px
		font-weight: 500
		line-height: 19px
		color: $font-color
	
	&-input,
	&-textarea
		display: block
		margin: 0 auto
			bottom: 15px
		padding: 12px 18px
		width: 100%
		max-width: 365px
		font-size: 14px
		font-weight: 500
		line-height: 16px
		color: rgba(0, 0, 0, .5)
		border: 1px solid #C4C4C4
			radius: 10px

	&-textarea
		min-height: 110px
		resize: none

	&-btn
		margin:
			top: 15px
		padding: 9px 23px
		font-size: 16px
		font-weight: 700
		line-height: 19px
		color: $white
		background-color: #631E01
		border: 1px solid #631E01
			radius: 10px

.pagination
	+flex
	margin:
		top: 30px
	+justify-content(center)
	+align-items(center)

	&-arrow
		+flex
		position: relative
		width: 50px
		height: 50px
		background-color: transparent
		border-radius: 100px
		+prefix(transition, $default-transition)
		+justify-content(center)
		+align-items(center)
	
		&-icon
			path
				+prefix(transition, $default-transition)

		&.prev
			margin:
				right: 30px
			.pagination-arrow-icon
				margin:
					left: -3px
		
		&.next
			margin:
				left: 30px
			.pagination-arrow-icon
				margin:
					right: -5px

		&:hover
			background-color: #631E01

			.pagination-arrow-icon
				path
					stroke: $white

	&-elem
		display: block
		margin: 0 3px
		width: 100% 
		max-width: 45px
		height: 4px
		background-color: rgba(104, 47, 19, 0.2)
		border-radius: 10px
		+prefix(transition, $default-transition)

		&:not(.active):hover
			background-color: rgba(104, 47, 19, 0.4)

		&.active
			background-color: #682F13
			+box-shadow(0px 0px 4px rgba(0, 0, 0, 0.25))

.social
	+flex()

	&-link
		+flex
		margin:
			right: 10px
		width: 34px
		height: 34px
		background-color: grey
		border-radius: 100px
		+justify-content(center)
		+align-items(center)
		+prefix(transition, $default-transition)

		&:hover
			opacity: $default-opacity


