.catalog
  &-wrap
    +flex
    margin:
      top: 55px
    +align-items(flex-start)

  &-filter
    margin:
      bottom: 20px
    max-width: 255px

    &-elem
      margin:
        bottom: 40px

      &-title
        margin:
          bottom: 15px
        font-size: 16px
        font-weight: 400
        line-height: 19px
        color: #000

    &-price
      &-wrap
        +flex
        +align-items(center)

      &-dash
        margin: 0 4px
        min-width: 11px
        height: 1px
        background-color: #919191

    &-input
      padding: 6px 11px 7px 11px
      width: 100%
      font-size: 14px
      font-weight: 400
      line-height: 16px
      color: $font-color
      background-color: rgba(0, 0, 0, 0.05)
      border: 1px solid transparent
      border-radius: 8px
      +prefix(transition, $default-transition)

      +placeholder
        color: rgba(0, 0, 0, .4)

      &:focus
        background-color: $white
        border-color: rgba(137, 224, 96, 0.9)
        +box-shadow(0px 0px 5px rgba(137, 224, 96, 0.6))

    &-segment-wrap
      +flex
      margin:
        top: 10px
      +justify-content(space-between)

    &-segment
      margin:
        right: 5px
      font-size: 14px
      font-weight: 400
      line-height: 16px
      color: rgba(0, 0, 0, .4)
      background-color: transparent
      border: 0
        bottom: 1px solid rgba(0, 0, 0, .4)
      +prefix(transition, $default-transition)
      cursor: pointer

      &:last-child
        margin:
          right: 0

      &:not(.active):hover
        color: rgba(0, 0, 0, .6)
        border: 
          bottom-color:  rgba(0, 0, 0, .6)

      &.active
        font-weight: 700
        color: #20A22D
        border:
          bottom-color: #20A22D
        cursor: default
  
    &-area
      .catalog-filter-elem-title 
        margin:
          bottom: 25px

      &-slider
        margin: 0 25px

        &.ui-widget-content
          background-color: rgba(0, 0, 0, 0.05)
          border: 0
            radius: 10px

        &-handle.ui-slider-handle
          display: block
          margin:
            left: -25px
          padding: 5px
          top: 50%
          width: 50px
          height: 30px
          font-size: 14px
          font-weight: 400
          line-height: 18px
          color: $font-color
          text-align: center
          background-color: $white
          border: 1px solid rgba(137, 224, 96, 0.9)
            radius: 10px
          +prefix(transform, translateY(-50%))
          +prefix(transition, box-shadow $default-transition)
          user-select: none
          cursor: pointer
          outline: none

          &:hover
            +box-shadow(0px 0px 5px rgba(137, 224, 96, 0.6))

        .ui-slider-range
          background-color: rgba(137, 224, 96, 0.9)
          border-radius: 10px

      .catalog-filter-segment-wrap
        margin:
          top: 20px
      
      // &-min,
      // &-max
      //   display: none
    
    &-item
      display: block
      position: relative
      margin:
        bottom: 8px
      width: 100%
      cursor: pointer

      &:last-child
        margin:
          bottom: 0

      &-title
        +flex
        position: relative
        padding:
          left: 28px
        font-size: 14px
        font-weight: 400
        line-height: 19px
        color: rgba(0, 0, 0, .4)
        +prefix(transition, $default-transition)
        +align-items(center)
        cursor: pointer

        &:before,
        &:after
          content: ''
          display: block
          position: absolute
          top: 0
          left: 0
          width: 20px
          height: 20px
          +prefix(transition, $default-transition)
        
        &:before
          background-color: rgba(0, 0, 0, 0.05)
          z-index: 0

      &-icon
        margin:
          left: 5px

        path
          +prefix(transition, $default-transition)

      &:hover
        .catalog-filter-item-title
          color: rgba(0, 0, 0, .6)

          &:before
            background-color: rgba(0, 0, 0, .1)
        
        .catalog-filter-item-icon
          path
            fill-opacity: 0.6

    &-checkbox
      &:checked,
      &:not(:checked)
        position: absolute
        left: -9999px
        width: 0
        height: 0
    
      &:checked + .catalog-filter-item-title:before,
      &:checked + .catalog-filter-item-title:after,
      &:not(:checked) + .catalog-filter-item-title:before,
      &:not(:checked) + .catalog-filter-item-title:after
        border-radius: 5px
    
      &:not(:checked) + .catalog-filter-item-title:after
        opacity: 0

      &:checked + .catalog-filter-item-title
        font-weight: 700
        color: $green-color

      &:checked + .catalog-filter-item-title:after
        background-color: $green-color
        background-image: url(../img/icon/checkmark.svg)
        background-size: 13px 12px
        background-position: center center
        background-repeat: no-repeat
        z-index: 1
        opacity: 1
    
    &-hide-btn
      position: relative
      margin:
        top: 10px
      font-size: 14px
      font-weight: 400
      line-height: 16px
      color: #20A22D
      cursor: pointer

      &:after
        content: ''
        display: inline-block
        position: relatie
        margin:
          left: 5px
        width: 12px
        height: 7px
        background-image: url(../img/icon/arrow-d-f.svg)
        background-size: cover
        background-position: center center
        background-repeat: no-repeat
        +prefix(transition, $default-transition)

      &.active
        &:after
          +prefix(transform, rotate(180deg))

    &-room
      .catalog-filter-item:nth-child(n+4)
        display: none

      &.show
        .catalog-filter-item:nth-child(n+4)
          display: block

    &-mod
      .catalog-filter-item:nth-child(n+6)
        display: none

      &.show
        .catalog-filter-item:nth-child(n+6)
          display: block

    &-radio
      &:checked,
      &:not(:checked)
        position: absolute
        left: -9999px
        width: 0
        height: 0
    
      &:checked + .catalog-filter-item-title:before,
      &:checked + .catalog-filter-item-title:after,
      &:not(:checked) + .catalog-filter-item-title:before,
      &:not(:checked) + .catalog-filter-item-title:after
        border-radius: 100px
      
      &:checked + .catalog-filter-item-title
        font-weight: 700
        color: $green-color

      &:checked + .catalog-filter-item-title:after
        background-color: $white
        width: 10px
        height: 10px
        border: 5px solid $green-color
        z-index: 1
        opacity: 1
      
      &:checked + .catalog-filter-item-title > .catalog-filter-item-icon > path
        fill: $green-color
        fill-opacity: 1
    
    &-size
      .catalog-filter-item:nth-child(n+6)
        display: none

      &.show
        .catalog-filter-item:nth-child(n+6)
          display: block
    
    &-show,
    &-clear
      padding: 11px 10px 12px 10px
      width: 100%
      font-size: 16px
      font-weight: 700
      line-height: 19px
      border: 2px solid transparent
        radius: 10px
      +prefix(transition, $default-transition)
      cursor: pointer

    &-show
      margin:
        bottom: 10px
      color: $green-color
      background-color: $bg-light-green

      &:hover
        border: 2px solid $green-color
        background-color: transparent

    &-clear
      color: rgba(0, 0, 0, .5)
      background-color: rgba(0, 0, 0, 0.05)

      &:hover
        color: $green-color
        background-color: $bg-light-green

    &-btn
      display: none
      position: fixed
      padding: 7px 20px 5px 20px
      left: 50% 
      bottom: 20px
      font-size: 14px
      font-weight: 500
      line-height: 16px
      color: $white
      background-color: $green-color
      border-radius: 5px
      +align-items(center)
      +prefix(transform, translateX(-50%))
      z-index: 10

  &-product
    padding: 
      left: 30px
    width: 100%
    
    .product
      margin: -15px
      +flex-wrap(wrap)
      +align-items(flex-start)
      
      &-item
        padding: 15px

        &-room
          margin: 
            left: -5px
            right: -5px

          &-elem
            +justify-content(flex-start)
  
    &-action-banner
      position: relative
      margin:
        top: 45px
      padding: 18px 25px 12px 25px
      min-height: 150px
      background: -o-linear-gradient(1.49deg, #239CE0 5.54%, #66FFDA 90.17%)
      background: linear-gradient(88.51deg, #239CE0 5.54%, #66FFDA 90.17%)
      border: 1px solid #DFDFDF
        radius: 10px

      &-text
        position: relative
        max-width: 420px
        font-size: 24px
        font-weight: 500
        line-height: 28px
        color: $white
        text-transform: uppercase
        z-index: 1

        b
          font-weight: 800
      
      &-img
        position: absolute
        top: -20px
        right: 0
        z-index: 0

    &-filter
      +flex
      margin:
        top: 60px
        bottom: 25px
      +justify-content(flex-end)

      &-elem
        margin:
          right: 35px
        font-size: 14px
        font-weight: 400
        line-height: 16px
        color: rgba(0, 0, 0, .2)
        border:
          bottom: 1px solid rgba(0, 0, 0, .2)
        +prefix(transition, $default-transition)
        
        &:last-child
          margin:
            right: 0
        
        &:not(.active):hover
          color: rgba(0, 0, 0, .6)
          border:
            bottom-color: rgba(0, 0, 0, .6)
        
        &.active
          color: $green-color
          border: 0

  &-type
    +flex
    margin: 0 -6px
      top: 40px
    +align-items(flex-start)

    &-elem
      position: relative
      margin: 0 6px
      width: 100%
      max-width: 175px
      cursor: pointer

      &:hover
        .catalog-type-title
          &:after
            +prefix(transform, rotate(180deg))
        
        .catalog-type-dropdown
          display: block

    &-title
      +flex
      padding: 13px 5px 14px 5px
      font-size: 16px
      font-weight: 500
      line-height: 19px
      color: #631e01
      background-color: $bg-light-green
      border:
        radius: 10px
      +justify-content(center)
      +align-items(center)
      
      &:after
        content: ''
        display: block
        position: relative
        margin:
          top: 5px
          left: 3px
        width: 12px
        height: 7px
        background-image: url(../img/icon/arrow-d.svg)
        background-size: cover
        background-position: center center
        background-repeat: no-repaet
        +prefix(transition, $default-transition)

    &-dropdown
      display: none
      position: absolute
      padding:
        top: 55px
      top: 0
      left: 0
      width: 100%
      z-index: 100

      &-wrap
        padding: 13px 14px
        background-color: $white
        border: 1px solid #DFDFDF
          radius: 10px
        +box-shadow(0px 5px 7px rgba(0, 0, 0, 0.1))
      
      &-link
        display: block
        font-size: 14px
        font-weight: 500
        line-height: 20px
        color: $font-color

        &:hover
          text-decoration: underline
    
  &-recent
    margin:
      top: 80px
  
    .product
      margin: 0 -15px
        top: 40px

      &-item
        width: 25%

  &-question
    margin:
      top: 100px
    
    .question
      &-bg
        bottom: 0