.main
  &-cone
    &-1
      position: absolute
      top: 1100px
      left: -100px
      z-index: 0
  
    &-2
      position: absolute
      top: 2350px
      right: 0

    &-3
      position: absolute
      right: 0
      bottom: 200px
      z-index: 0
    
    &-4
      position: absolute
      top: 100px
      right: -400px

  
  &-leaf
    &-1
      position: absolute
      top: 1570px
      right: 180px
    
    &-2
      position: absolute
      top: 3350px
      right: 180px
      max-width: 220px
      z-index: 1
    
    &-3
      position: absolute
      top: -200px
      left: 0
      max-width: 309px
    
    &-4
      position: absolute
      top: -50px
      left: -300px
      z-index: 10

  &-head-slider
    position: relative

    .slick-slide
      display: flex !important

    .slick-arrow
      margin:
        top: -25px
      top: 40%
      background-color: rgba(99, 30, 1, .5)

      &.slick-prev
        left: 15px
        background-image: url(../img/icon/arrow-s-l.svg)

      &.slick-next
        right: 15px
        background-image: url(../img/icon/arrow-s-r.svg)
      
      &:hover
        background-color: rgba(99, 30, 1, 1)

    .slick-dots
      bottom: 10px

    &-elem
      +flex
      position: relative
      min-height: 686px
      +align-items(center)

    &-bg
      position: absolute
      top: 0
      left: 0
      right: 0
      bottom: 0
      width: 100%
      height: 100%
      background-image: url(../img/slider-bg.jpg)
      background-size: cover
      background-position: center center
      background-repeat: no-repeat
      z-index: 0
    
    &-info
      position: relative
      padding: 0 109px
      z-index: 1

    &-title
      margin:
        bottom: 35px
      font-size: 50px
      font-weight: 700
      line-height: 60px
      color: $font-color
    
    &-price
      margin:
        bottom: 40px

      &-title
        font-size: 18px
        font-weight: 400
        line-height: 21px
        color: rgba(0, 0, 0, .5)

        b
          font-weight: 700
      
      &-value
        margin:
          top: 3px

      &-curent
        margin:
          right: 5px
        font-size: 27px
        font-weight: 700
        line-height: 32px
        color: #000
      
      &-old
        font-size: 18px
        font-weight: 400
        line-height: 21px
        color: rgba(0, 0, 0, .9)

    &-note
      color: $green-color

      &-wrap
        +flex
      
      &-elem 
        font-size: 20px
        font-weight: 700
        line-height: 24px

        &:nth-child(2)
          margin: 0 35px
          padding: 0 35px
          border:
            left: 1px solid $green-color
            right: 1px solid $green-color

      &-desc
        margin:
          top: 10px
        font-size: 16px
        font-weight: 700
        line-height: 19px
        color: $green-color

    &-link
      display: inline-block
      margin:
        top: 30px
      padding: 10px 50px 
      font-size: 18px
      font-weight: 700
      line-height: 21px
      color: $green-color 
      border: 1px solid $green-color
      border-radius: 10px
      +prefix(transition, $default-transition)

      &:hover
        background-color: $bg-light-color

    &-timer
      +flex
      margin:
        top: 30px
        left: 50px

      &-info
        font-family: $second-font
        font-size: 20px 
        font-weight: 700
        line-height: 25px
        color: #ff0000
        text-align: center
        
  &-advantages
    margin:
      top: 50px

    .container-head
      +flex
      +align-items(flex-end)

    &-more
      +flex
      position: relative
      margin: 0 0 0 auto
      padding:
        left: 15px
      font-size: 14px
      font-weight: 500
      line-height: 16px
      color: #631E01
      +align-items(center)
      +prefix(transition, $default-transition)
      cursor: pointer

      &:hover
        opacity: $default-opacity

      &:after
        content: ''
        display: block
        margin:
          top: 3px
          left:  10px
        width: 10px
        height: 5px
        background-image: url(../img/icon/arrow-a-d.svg)
        background-size: 100% auto
        background-position: center center
        background-repeat: no-repeat
        +prefix(transition,  $default-transition)

      &.main-advantages-more-b
        display: none
        margin: 0 auto
          top: 35px
        padding: 0
        max-width: 220px

      &.active
        &:after
          +prefix(transform, rotate(180deg))

    &-wrap
      +flex
      +flex-wrap(wrap)
      +justify-content(center)

    &-elem 
      +flex
      position: relative
      margin:
        top: 80px
      width: 20%
      height: 100%
      min-height: 170px
      +align-items(center)
      +justify-content(center)
      +flex-flow(column)

      &:nth-child(n+6)
        display: none
      
      &.active
        +flex

    &-num
      position: absolute
      top: 0
      left: 50%
      +prefix(transform, translateX(-50%))
      object-fit: contain

    &-text
      display: block
      margin: 0 auto
        top: 15px
      font-size: 18px
      font-weight: 500
      line-height: 21px
      color: #000
      text-align: center
  
  &-build
    margin:
      top: 90px

    &-wrap
      +flex()
      margin: 0 -15px
        top: 25px
      +flex-wrap(wrap)

    &-elem
      padding: 0 15px

      &.xl
        margin:
          bottom: 26px
        width: 50%
        min-height: 300px

        .main-build-elem-wrap
          padding: 35px 40px

      &.sm
        width: 33.33%
        min-height: 220px

        .main-build-elem-wrap
          padding: 35px 30px

      &:hover
        .main-build-elem-wrap
          +box-shadow(0px 10px 16px rgba(0, 0, 0, 0.1))

          &:after
            top: 12px
            left: 12px
            right: 12px
            bottom: 12px

        .main-build-elem-img
          +prefix(transform, scale(1.04))

        .main-build-elem-arrow
          margin:
            left: 5px

      &-wrap
        position: relative
        width: 100%
        height: 100%
        background-color: $white
        border-radius: 10px
        +box-shadow(0px 5px 7px rgba(0, 0, 0, 0.1))
        +prefix(transition, $default-transition)
        overflow: hidden

        &:after
          content: ''
          display: block
          position: absolute
          top: 18px
          left: 18px
          right: 18px
          bottom: 18px
          border: 1px solid rgba(137, 224, 96, 0.9)
          border-radius: 10px
          +prefix(transition, $default-transition)

      &-img
        position: absolute
        right: -20px
        bottom: -20px
        +prefix(transition, $default-transition)
        z-index: 0

      &-text
        display: inline-block
        position: relative
        padding: 5px
        font-size: 28px 
        font-weight: 700
        line-height: 33px
        color: #000
        background-color: rgba(255, 255, 255, .5)
        border-radius: 10px
        z-index: 1
      
      &-arrow
        margin:
          top: 30px
        width: 50px
        height: 16px
        background-image: url(../img/icon/arrow-b-r.svg)
        background-size: 100% auto
        background-position: center 
        background-repeat: no-repeat
        +prefix(transition, $default-transition)

  &-popular
    margin:
      top: 120px
    
    &-tab
      &-nav
        +flex
        margin:
          top: 70px
        list-style-type: none
        +justify-content(center)

        &-elem 
          margin:
            right: 15px
          padding: 13px 10px 14px 10px 
          width: 100%
          max-width: 190px
          font-size: 16px
          font-weight: 700
          line-height: 19px
          color: rgba(0, 0, 0, .5)
          text-align: center
          border: 1px solid #F4EBD4
          border-radius: 10px
          cursor: pointer
          +prefix(transition, $default-transition)

          &:last-child
            margin:
              right: 0

          &:not(.active):hover
            color: rgba(0, 0, 0, .8)
            background-color: #faf6eb
          
          &.active
            color: #682F13
            background-color: #F4EBD4
            cursor: default

      &-elem
        display: none

        &.active
          display: block

    .product-slider
      margin:
        top: 50px
    
    &-filter
      +flex()
      margin:
        top: 20px
      +justify-content(center)
      +flex-wrap(wrap)

      &-btn
        margin: 7px
        padding: 6px 10px 8px 10px
        font-size: 14px
        font-weight: 400
        line-height: 16px
        color: rgba(0, 0, 0, .2)
        background-color: rgba(0, 0, 0, 0.1)
        border-radius: 10px
        +prefix(transition, $default-transition)
        cursor: pointer

        &:not(.active):hover
          color: rgba(0, 0, 0, .5)
          background-color: rgba(0, 0 ,0, .2)

        &.active
          color: $green-color
          background-color: $bg-light-green
    
    &-all
      display: block
      margin: 0 auto
        top: 10px
      max-width: 155px
      text-align: center
  
  &-about
    position: relative
    padding:
      top: 130px
      bottom: 124px
    z-index: 0

    &:after
      content: ''
      display: block
      position:  absolute
      bottom: -50px
      right: -80px
      width: 100%
      height: 100%
      background-image: url(../img/about-bg.png)
      background-size: auto
      background-position: right center
      background-repeat: no-repeat
      z-index: 0

    &-text
      position: relative
      margin:
        top: 40px
      padding: 5px
      max-width: 535px
      font-size: 22px
      font-weight: 500
      line-height: 29px
      color: rgba(0, 0, 0, .6)
      background-color: rgba(255, 255, 255, .5)
      border-radius: 10px
      z-index: 1
    
    &-link
      display: inline-block
      position: relative
      margin:
        top: 40px
      z-index: 1
  
  &-info
    position: relative
    padding:
      top: 100px
      bottom: 95px
    background-color: rgba(0, 0, 0, 0.04)
    z-index: 10
    
    &-wrap
      +flex()
      position: relative
      z-index: 10
      

    .container-head-text
      &:after
        background-color: #A2D68B
    
    &-elem
      
      &:first-child
        width: 60.53%
      
      &:last-child
        padding:
          left: 65px
        width: 39.47%
    
    &-done
      +flex()
      margin: 0 -6px
        top: 60px
      
      &-elem
        padding: 0 6px
        width: 33.33%

        &.timber
          .main-info-done-progressbar
            &:after
              width: 80%

        &.frame
          .main-info-done-progressbar
            &:after
              width: 30%

        &.bath
          .main-info-done-progressbar
            &:after
              width: 42%

      &-wrap
        position: relative

      &-val
        font-size: 93px
        font-weight: 700
        line-height: 75px
        color: #A5FC7D
      
      &-title
        position: absolute
        left: 0
        bottom: 20px
        font-size: 20px
        font-weight: 700
        line-height: 24px
        color: $green-color
      
      &-progressbar
        position: relative
        margin:
          top: 10px
        width: 100%
        height: 9px
        background-color: #E6E6E6
        border-radius: 10px
        overflow: hidden 

        &:after
          content: ''
          display: block
          position: absolute
          top: 0
          left: 0
          width: 0
          height: 100%
          background-color: $green-color
          border-radius: 10px

    &-projects
      margin:
        top: 70px

      .product-slider
        padding: 0

        .slick-list
          margin: 0 -5px
          padding: 
            bottom: 47px

        .slick-arrow
          position: relative
          margin: 0
          top: auto
          left: auto
          right: auto
          bottom: auto

        .slick-dots
          position: relative
          margin: 0 25px
            top: -12px

        .product-item
          padding: 0 5px

          &-img-wrap
            min-height: 169px
          
          &-name
            margin:
              top: 22px
            font-size: 16px
            line-height: 19px
            text-transform: none

      &-link
        display: block
        margin: 0 auto
          top: 15px
        max-width: 90px

    .news
      margin:
        top: 68px
      
      &-all
        display: block
        margin: 0 auto
          top: 30px
        max-width: 130px
  
  &-action
    position: relative
    margin:
      top: 100px
    padding:
      bottom: 20px
    background-image: url(../img/action-bg.svg)
    background-size: cover
    background-position: center bottom -195px
    background-repeat: no-repeat

    &-wrap
      padding:
        top: 90px

      .slick-list
        margin: 0 -10px
        padding: 0
          bottom: 25px

    &-item
      display: block
      position: relative
      margin: 0 10px
      padding: 54px 0
      min-height: 284px
      color: $white
      border: 1px solid #DFDFDF
        radius: 10px
      +box-shadow(0px 5px 7px rgba(0, 0, 0, 0.1))
      overflow: hidden

      &.green
        background-color: #86EF00

        .main-action-title 
          background-color: #298300
      
      &.yellow
        background-color: #FFC700

        .main-action-title 
          background-color: #D7752F
      
      &.red
        background-color: #FF0000

        .main-action-img
          top: 25px

        .main-action-title 
          position: relative
          background-color: rgba(215, 47, 47, 0.5)
          z-index: 1

          &-text
            max-width: 410px
        
        .main-action-desc
          max-width: 480px

      &.blue
        background-color: #28D0F5

        .main-action-title 
          background-color: #2F53D7

    &-img
      position: absolute
      top: 0
      right: 0

    &-title
      padding: 18px 35px
      font-size: 32px
      font-weight: 900
      line-height: 39px
      text-transform: uppercase
    
      &-text
        position: relative 
        max-width: 330px
        z-index: 1

      &-accent
        display: block
        margin:
          top: 5px
        font-size: 27px
        font-weight: 700
        line-height: 32px
        text-decoration: underline
    
    &-desc
      position: relative
      margin:
        top: 15px
      padding: 0 35px
      max-width: 400px
      font-size: 18px
      font-weight: 500
      line-height: 21px
      z-index: 1
      
    &-link
      display: block
      margin: 0 auto
        top: 10px
      max-width: 70px
      text-align: center 

  &-stage
    position: relative
    margin:
      top: 110px

    &-wrap
      +flex()
      position: relative
      margin: 0 -10px
      +justify-content(center)
      +flex-wrap(wrap)
      z-index: 10

    &-item
      +flex()
      padding: 0 10px
        top: 85px
        bottom: 35px
      width: 33.33%
      +align-items(center)

      &-num
        position: relative
        width: 100%
        max-width: 105px
        min-height: 100px
        background-image: url(../img/icon/stage.svg)
        background-size: cover
        background-position: center center
        background-repeat: no-repeat

        &-val
          position: absolute
          padding:
            bottom: 9px
          left: 0
          bottom: 0px
          font-size: 77px
          font-weight: 300
          line-height: 50px
          color: rgba(0, 0, 0, .7)
          background-color: $white
      
      &-text
        padding:
          left: 25px
        max-width: 200px
        font-size: 20px
        font-weight: 700
        line-height: 24px
        color: #000

  &-request
    position: relative
    padding:
      top: 125px
      bottom: 140px
    background-image: url(../img/request-bg.jpg)
    background-size: auto
    background-position: center top -30px 
    background-repeat: no-repeat

    &:before,
    &:after
      z-index: 0

    &:before
      content: ''
      display: block 
      position: absolute 
      top: 50%
      left: 0
      width: 645px
      height: 321px
      background-image: url(../img/hand.png)
      background-size: 100% auto
      background-position: center center
      background-repeat: no-repeat
      +prefix(transform, translateY(-50%))

    &:after
      content: ''
      display: block
      position: absolute
      top: 0
      right: 0
      width: 500px
      height: 660px
      background-image: url(../img/family.png)
      background-size: 100% auto
      background-position: center center
      background-repeat: no-repeat
      
