doctype html

html(lang="ru")
  include var/head.pug

  body
    .main-wrap
      include var/header.pug

      .wrap
        include pages/product_page.pug

      include var/footer.pug

    include var/script.pug