.all-page
	.all-page_box
		.all-page_title 
			img(src="style/img/icon/logo.svg", alt="Logo")
			span Список всех страниц:
		ul.all-page_list
			li
				a(href="main_page.html" target="_blank") 
					| 1. Главная страница 
					span (main_page.html)
			li
				a(href="catalog_page.html" target="_blank") 
					| 2. Каталог 
					span (catalog_page.html)
			li
				a(href="product_page.html" target="_blank") 
					| 3. Продукт 
					span (product_page.html)
			li
				a(href="warranty_page.html" target="_blank") 
					| 4. Гарантия 
					span (warranty_page.html)
			li
				a(href="contact_page.html" target="_blank") 
					| 5. Контакты 
					span (contact_page.html)
			li
				a(href="foundation_catalog_page.html" target="_blank") 
					| 6. Фундаменты 
					span (foundation_catalog_page.html)
			li
				a(href="foundation_page.html" target="_blank") 
					| 7. Фундамент 
					span (foundation_page.html)
			li
				a(href="foundation_02_page.html" target="_blank") 
					| 8. Фундамент 02 
					span (foundation_02_page.html)
			li
				a(href="standard-page.html" target="_blank") 
					| 9. Стандарты ГОСТ и СНИП 
					span (standard-page.html)