.contact-map-wrap
  .contact-map#contact-map
  .container
    .contact-info
      .contact-info-wrap
        .contact-info-title Контакты 
        a(href="tel:+78127777777").contact-info-elem.phone +7 (812) 777-77-77
        a(href="mail:info@zagorod-standart.ru").contact-info-elem.mail info@zagorod-standart.ru
        .contact-info-elem.time
          | c 10 до 19 ежедневно
        .contact-info-elem.address
          | г. Санкт-Петербург, Выборгское шоссе 212
          | Выставка коттеджей в Озерках
        .contact-info-social-wrap
          .social
            a(href="").social-link
              img(src="style/img/icon/inst.svg", alt="").social-link-img
            a(href="").social-link
              img(src="style/img/icon/fb.svg", alt="").social-link-img
            a(href="").social-link
              img(src="style/img/icon/vk.svg", alt="").social-link-img
          
          .social
            a(href="").social-link.tg
              img(src="style/img/icon/tg.svg", alt="").social-link-img
            a(href="").social-link.skype
              img(src="style/img/icon/skype.svg", alt="").social-link-img
            a(href="").social-link.wa
              img(src="style/img/icon/wa.svg", alt="").social-link-img
            a(href="").social-link.viber
              img(src="style/img/icon/viber.svg", alt="").social-link-img
      .contact-map-control
        .contact-map-control-elem
          a(href="").contact-map-control-link Построить маршрут
          a(href="").contact-map-control-link
            img(src="style/img/icon/y-nav.svg", alt="")
          a(href="").contact-map-control-link
            img(src="style/img/icon/y-pin.svg", alt="")
        
        .contact-map-control-elem
          a(href="").contact-map-control-link Вызвать такси
          a(href="").contact-map-control-link
            img(src="style/img/icon/y-taxi.svg", alt="")
  .contact-map-control.contact-map-control-sm
    .contact-map-control-elem
      a(href="").contact-map-control-link
        img(src="style/img/icon/y-nav.svg", alt="")
      a(href="").contact-map-control-link
        img(src="style/img/icon/y-pin.svg", alt="")
    
    .contact-map-control-elem
      a(href="").contact-map-control-link
        img(src="style/img/icon/y-taxi.svg", alt="")

.contact-feedback
  .container
    form(action="").form
      .form-title Форма обратной связи
      .form-desc 
        | Воспользуйтесь формой или пишите на почту 
        a(href="") info@zagorod-standart.ru
      input(type="text" placeholder="Ваше имя").form-input
      input(type="text" placeholder="Номер телефона").form-input
      textarea(name="form-comment" placeholder="Сообщение").form-textarea
      label.form-file
        input(type="file").form-file-input
        .form-file-wrap
          .form-file-title Переретащите сюда файл 
          .form-file-delimer или 
          .form-file-btn Выберете файл
        .form-file-name 
        .form-file-note Максимальный размер файла: 2МВ.
      button.form-btn Отправить заявку    

.contact-footer
  img(src="style/img/contact-footer-bg.jpg", alt="").contact-footer-img