.container
  .breadcrumbs
    a(href="").breadcrumbs-elem Главная
    .breadcrumbs-elem Фундаменты для каркасных и брусовых домов
    
  .container-big-head.foundation-catalog-head Фундаменты для каркасных и брусовых домов

  .foundation-catalog-wrap
    .foundation-catalog-elem.piles 
      .foundation-catalog-elem-wrap
        img(src="style/img/foundation-img/foundation-catalog-img-1.png", alt="").foundation-catalog-elem-img
        .foundation-catalog-elem-info
          .foundation-catalog-elem-title Сваи
          .foundation-catalog-elem-desc 
            | Другие названия: свайно-винтовой фундамент, винтовые сваи, свайный фундамент
          .foundation-catalog-elem-text 
            | Фундамент свайно-винтовой - разработан для строительства на мерзлых, пучинистых, 
            | слабых почвах. Существуют узко-, широко- и многопластные виды свай для разного 
            | типа сооружений. Такой тип имеет массу достоинств в сравнении с другими - 
            | помимо высоких прочностных показателей, сваи монтируются в довольно короткий 
            | период, тем самым снижая временные сроки строительства. Это один из самых 
            | экономичных вариантов фундамента. Он прекрасно подходит для установки на любом 
            | рельефе, даже на склонах, отлично устойчив на осадочных грунтах. При работах не 
            | требуется заливать бетон и ожидать, пока он высохнет, не нужна громоздкая 
            | специализированная техника, в процессе практически отсутствуют затратные 
            | земляные работы. Поэтому такой вид считается наиболее востребованным и 
            | позволяет значительно уменьшить расходы заказчика.
          .foundation-catalog-elem-show-all Развернуть описание
        .foundation-catalog-elem-price
          .foundation-catalog-elem-price-wrap
            .foundation-catalog-elem-price-title Цена
            .foundation-catalog-elem-price-val 2900 руб. за сваю
          a(href="").foundation-catalog-elem-btn Подробнее

    .foundation-catalog-elem.piles-rc
      .foundation-catalog-elem-wrap
        img(src="style/img/foundation-img/foundation-catalog-img-2.png", alt="").foundation-catalog-elem-img
        .foundation-catalog-elem-info
          .foundation-catalog-elem-title Сваи ЖБ
          .foundation-catalog-elem-desc 
            | Другие названия: свайный ЖБ фундамент, фундамент на Ж/Б сваях, забивные 
            | ЖБ сваи, железобетонные сваи
          .foundation-catalog-elem-text 
            | Фундамент на ж/б сваях  - в основе отдельные сваи, за счет которых все 
            | нагрузки передаются на почву, их забивают прямо в грунт с помощью 
            | специального оборудования. В работе используют готовые элементы, 
            | выполненные в соответствии со стандартами, подходит для любого вида 
            | грунтов, хорошо устойчив к низким температурам, имеет экономичную 
            | себестоимость, позволяет снижать расходы на материалах для утепления 
            | - в морозный период немного приподнимает строение, устойчивость 
            | конструкции высокая.
          .foundation-catalog-elem-show-all Развернуть описание
        .foundation-catalog-elem-price
          .foundation-catalog-elem-price-wrap
            .foundation-catalog-elem-price-title Цена
            .foundation-catalog-elem-price-val 2900 руб. за сваю
          a(href="").foundation-catalog-elem-btn Подробнее
    
    .foundation-catalog-elem.column
      .foundation-catalog-elem-wrap
        img(src="style/img/foundation-img/foundation-catalog-img-3.png", alt="").foundation-catalog-elem-img
        .foundation-catalog-elem-info
          .foundation-catalog-elem-title Столбчатый
          .foundation-catalog-elem-desc 
            | Другие названия: столбчатый фундамент
          .foundation-catalog-elem-text 
            | Фундамент столбчатый - больше подходит для легкого строительства (хозяйственных объектов) 
            | и каркасных домов (к примеру по финской технологии), для обустройства ограждений, 
            | заборов, используется на почвах слабонесущего вида или горизонтально-подвижных грунтах. 
            | Общие затраты вполне бюджетные даже по сравнению с ленточным типом. В процессе работ 
            | столбы устанавливают под углом наружных стен строения, поверх которых укладывают 
            | связующие балки. Достоинством считают уменьшение общего периода возведения 
            | зданий и значительное снижение трудозатрат.
          .foundation-catalog-elem-show-all Развернуть описание
        .foundation-catalog-elem-price
          .foundation-catalog-elem-price-wrap
            .foundation-catalog-elem-price-title Цена
            .foundation-catalog-elem-price-val 2900 руб. за сваю
          a(href="").foundation-catalog-elem-btn Подробнее
    
    .foundation-catalog-elem.strip
      .foundation-catalog-elem-wrap
        img(src="style/img/foundation-img/foundation-catalog-img-4.png", alt="").foundation-catalog-elem-img
        .foundation-catalog-elem-info
          .foundation-catalog-elem-title Лента
          .foundation-catalog-elem-desc 
            | Другие названия: ленточный фундамент, фундамент ленточного типа
          .foundation-catalog-elem-text 
            | Фундамент ленточного типа - фактически это замкнутая по контуру лента, ее выполняют 
            | по периметру всего будущего строения и под каждой стеной. Обустройство 
            | ведется на хорошо утрамбованную песчаную подушку из сборных блоков или 
            | заливаемого монолитного бетона, но не подходит для почв болотистого вида. 
            | Имеет высокие параметры несущей способности, технология возведения довольно 
            | простая, высокая вариативность - возможность выбора типа конструкции по глубине 
            | укладки и варианту конструкции, долгий период службы.
          .foundation-catalog-elem-show-all Развернуть описание
        .foundation-catalog-elem-price
          .foundation-catalog-elem-price-wrap
            .foundation-catalog-elem-price-title Цена
            .foundation-catalog-elem-price-val 2900 руб. за сваю
          a(href="").foundation-catalog-elem-btn Подробнее
    
    .foundation-catalog-elem.plate
      .foundation-catalog-elem-wrap
        img(src="style/img/foundation-img/foundation-catalog-img-5.png", alt="").foundation-catalog-elem-img
        .foundation-catalog-elem-info
          .foundation-catalog-elem-title Плита
          .foundation-catalog-elem-desc 
            | Другие названия: плитный фундамент, монолитный фундамент, фундамент плитного вида
          .foundation-catalog-elem-text 
            | Фундамент плитного вида - востребован в местах с плавающими грунтами, которые имеют 
            | параметры неравномерного сжатия, возможны просадки и появление пучинистых локаций. 
            | Также подходит для участков с высоким залеганием грунтовых вод. Выполняется в виде 
            | монолитной (решетчатой) плиты, которую собирают из ж/б балок, скрепленных между 
            | собой, стыки между которыми плотно заделаны. Бывает заглубленным и незаглубленным. 
            | По характеристикам подходит для любых видов почв, расположен по всей площади будущего 
            | строения, что дает высокий уровень прочности и надежности, внутренний армированный 
            | каркас защищает от деформаций. По стоимости считается довольно дорогим.
          .foundation-catalog-elem-show-all Развернуть описание
        .foundation-catalog-elem-price
          .foundation-catalog-elem-price-wrap
            .foundation-catalog-elem-price-title Цена
            .foundation-catalog-elem-price-val 2900 руб. за сваю
          a(href="").foundation-catalog-elem-btn Подробнее

.question
  img(src="style/img/catalog-question-bg.jpg", alt="").question-bg
  .container
    form(action="").form
      .form-title Не знаете какой фундамент лучше?
      .form-desc Заполните форму ниже и мы Вас проконсультируем
      input(type="text" placeholder="Ваше имя").form-input
      input(type="text" placeholder="Номер телефона / Почта").form-input
      button.form-btn Отправить заявку

