.container
  .foundation-difference
    .container-head
      .container-head-text 
        | Отличие забивных ЖБ свай от других видов фундаментов
    
    .container-desc.foundation-difference-desc
      | Легко сравните и выясните преимущества ЖБ свайного 
      | фундамента по основным показателям в сводной таблице

    .foundation-difference-table
      .foundation-difference-table-row.foundation-difference-table-head
        .foundation-difference-table-elem
        .foundation-difference-table-elem Сваи ЖБ
        .foundation-difference-table-elem Сваи (винтовые)
        .foundation-difference-table-elem Лента
        .foundation-difference-table-elem Плита
      
      .foundation-difference-table-row
        .foundation-difference-table-elem Стоимость
        .foundation-difference-table-elem.green 7х7 м = 61 000 руб.
        .foundation-difference-table-elem.green 7х7 м = 51 000 руб.
        .foundation-difference-table-elem.red 7х7 м = 132 000 руб.
        .foundation-difference-table-elem.red 7х7 м = 292 000 руб.
    
      .foundation-difference-table-row
        .foundation-difference-table-elem Срок службы
        .foundation-difference-table-elem.green 70-100 лет
        .foundation-difference-table-elem.red До 50 лет в сухих грунтах
        .foundation-difference-table-elem.green 70-100 лет 
        .foundation-difference-table-elem.green 70-100 лет
      
      .foundation-difference-table-row
        .foundation-difference-table-elem Срок возведения
        .foundation-difference-table-elem.green 3-4 дня
        .foundation-difference-table-elem.green 2 дня
        .foundation-difference-table-elem.red 5-8 дней
        .foundation-difference-table-elem.red 6-10 дней
      
      .foundation-difference-table-row
        .foundation-difference-table-elem Сезонность
        .foundation-difference-table-elem.green Монтаж в любое время года
        .foundation-difference-table-elem.green В любое врямя года
        .foundation-difference-table-elem.red Температура от +15, отсутствие осадков
        .foundation-difference-table-elem.red Температура от +15, отсутствие осадков
      
      .foundation-difference-table-row
        .foundation-difference-table-elem Строительство
        .foundation-difference-table-elem.green Сразу после возведения, не дают усадки
        .foundation-difference-table-elem.green Сразу после возведения, не дают усадки
        .foundation-difference-table-elem.red По СНиП - 20 дней с момента заливки
        .foundation-difference-table-elem.red По СНиП - 20 дней с момента заливки
      
      .foundation-difference-table-row
        .foundation-difference-table-elem Грунт
        .foundation-difference-table-elem.green 
          | Грунт любой, кроме участков поднятых на мусоре. Рельеф любой.
        .foundation-difference-table-elem.red Без камней 
        .foundation-difference-table-elem.red Плотные грунты, ровные поверхности
        .foundation-difference-table-elem.red Плотные грунты, ровные поверхности
      
      .foundation-difference-table-row
        .foundation-difference-table-elem Нагрузка
        .foundation-difference-table-elem.green До 40 тонн, зависит от типа грунта
        .foundation-difference-table-elem.red До 11 тонн, зависит от типа грунта и диаметра
        .foundation-difference-table-elem.red 5-15 тонн на 1 кв.м., зависит от грунта и размеров
        .foundation-difference-table-elem.red 5-15 тонн на 1 кв.м., зависит от грунта и размеров

.foundation-about
  .container
    .foundation-about-wrap
      .foundation-about-elem
        .foundation-about-elem-wrap
          img(src="style/img/foundation-about/foundation-about-img-1.svg", alt="").foundation-about-elem-img
          .foundation-about-elem-title Гарантия 20 лет
          .foundation-about-elem-desc 
            | Мы предоставляем полную гарантию на все 
            | произведенные нами сваи.
        
      .foundation-about-elem
        .foundation-about-elem-wrap
          img(src="style/img/foundation-about/foundation-about-img-2.svg", alt="").foundation-about-elem-img
          .foundation-about-elem-title Техника
          .foundation-about-elem-desc 
            | Материально-техническая база располагает 
            | техникой для монтажа, доставки, производства
      
      .foundation-about-elem
        .foundation-about-elem-wrap
          img(src="style/img/foundation-about/foundation-about-img-3.svg", alt="").foundation-about-elem-img
          .foundation-about-elem-title Опыт
          .foundation-about-elem-desc 
            | Деятельность фирмы 15 лет. Разряд сварщиков не 
            | ниже третьего. Стаж монтажников более 5 лет.

.container
  .foundation-notion
    .container-head
      .container-head-text 
        | Столбчатый фундамент под каркасный или брусовой дом/баню. Какой нужен?
    
    .foundation-notion-elem
      .foundation-notion-text
        p
          | Применение столбчатого фундамента с опорами из блоков ж/б 
          | ориентировано на строения 
          b из бруса или с каркасной конструкцией 
          | (дома, коттеджи, бани). Для малогабаритных домиков возможно 
          | обустройство фундаментных опор без заглубления, но для избегания 
          | проблем в будущем и увеличения параметров устойчивости желательно 
          b провести углубление 
          | хотя бы на 60 см. Еще одним примером надежного 
          | основания признан монолитный конструктив, который способен 
          | выдерживать малоэтажные строения.
        p
          | Главным вопросом является четкое и правильное определение сечения 
          | готовой опоры. Показатели габаритов должны быть 
          b не ниже 200 х 200 х 400 мм 
          | при условии укладки монолитных бетонных опор.
      .foundation-notion-img-wrap
        img(src="style/img/foundation-notion-bg.jpg", alt="").foundation-notion-img
  
  .foundation-tech
    .container-head
      .container-head-text 
        | Технология возведения столбчатого фундамента
    
    .container-desc
      | Технологий и вариантов очень много. Из чего только не делают столбики (опоры). 
      | Мы в компании Загородный Стандарт придерживаемся надежных и проверенных 
      | технологий, подкрепленных ГОСТами и СНиПами, поэтому опоры делаем из 
      | кирпича или бетонных блоков

    .foundation-tech-wrap
      .foundation-tech-elem
        .foundation-tech-elem-wrap
          .foundation-tech-elem-img-wrap
            img(src="style/img/foundation-tech/foundation-tech-img-1.jpg", alt="").foundation-tech-elem-img

          .foundation-tech-elem-info
            .foundation-tech-elem-title Кирпичные столбики
            .foundation-tech-elem-desc
              | Отдельное внимание к кирпичным колоннам, их выбирают при малом 
              | заглублении фундамента или при отсутствии его вообще. Основным 
              | материалом считают кирпич типа "железняк", проходящий особую 
              | процедуру обжига - получая в этот момент мощную закалку и 
              | особые параметры надежности. Использование других вариантов 
              | материала не предусмотрено. Показатели ширины опоры должны 
              | составлять не менее 38-40 см.
      
      .foundation-tech-elem
        .foundation-tech-elem-wrap
          .foundation-tech-elem-img-wrap
            img(src="style/img/foundation-tech/foundation-tech-img-2.jpg", alt="").foundation-tech-elem-img

          .foundation-tech-elem-info
            .foundation-tech-elem-title Бетонные столбики
            .foundation-tech-elem-desc
              | Такой тип считают самым востребованным и надежным из всех 
              | вариаций столбчатых оснований. Опора из бетона, укрепленная 
              | армированной конструкцией, способна выдерживать огромные 
              | нагрузки, абсолютно на реагируя на внешнюю среду - осадки, 
              | температурные и климатические перепады. Еще одним допустимым 
              | видом признан блочный столбчатый фундамент.
    
  .foundation-build
    .container-head
      .container-head-text 
        | Как строят ленточный фундамент?
    
    .container-desc
      | Общий процесс предполагает несколько последовательных 
      | стадий производства работ.

    .foundation-build-wrap
      .foundation-build-elem
        .foundation-build-elem-stage Стадия 1. 
        .foundation-build-elem-info
          .foundation-build-elem-title Подготовка
          .foundation-build-elem-desc 
            | Начальный этап состоит из расчистки местности, общей разметки 
            | и выкапывания траншей под будущее основание. Размечают участок 
            | с применением колышков, веревки и измерительной рулетки. Колышки 
            | ставят через определенное расстояние парно - с внешней и 
            | внутренней стороны для обозначения границ. В случае 
            | мелкозаглубленного варианта достаточно использовать обычную 
            | лопату и наметить контуры ленты. При заглублении лучше всего 
            | применять специализированную технику типа экскаватора - снижает 
            | сроки работ, выполняет большие объемы. Угловые участки можно пройти вручную.
        .foundation-build-elem-img-wrap
          img(src="style/img/foundation-build/foundation-build-img-1.jpg", alt="").foundation-build-elem-img
      
      .foundation-build-elem
        .foundation-build-elem-stage Стадия 2. 
        .foundation-build-elem-info
          .foundation-build-elem-title Траншея
          .foundation-build-elem-desc 
            | Траншея - в готовой траншее четко выравнивают дно, укладывая мелкий 
            | гравий и песок. Далее проходит трамбование с обязательной проливкой 
            | водой. Для регионов с низкими температурными режимами часто 
            | используют утеплительные материалы, которые защищают фундамент от 
            | пучения. Получившуюся подушку закрывают гидроизоляционным слоем.
        .foundation-build-elem-img-wrap
          img(src="style/img/foundation-build/foundation-build-img-2.jpg", alt="").foundation-build-elem-img

      .foundation-build-elem
        .foundation-build-elem-stage Стадия 3. 
        .foundation-build-elem-info
          .foundation-build-elem-title Опалубка
          .foundation-build-elem-desc 
            | Опалубка - ее устанавливают для получения ровного основания. При 
            | высокой плотности почв стенки траншеи могут служить основой при 
            | заливке, при слабых почвах обязательно делается запас на монтаж 
            | опалубочного каркаса. В этот период происходит укладка коммуникационных труб.
        .foundation-build-elem-img-wrap
          img(src="style/img/foundation-build/foundation-build-img-3.jpg", alt="").foundation-build-elem-img

      .foundation-build-elem
        .foundation-build-elem-stage Стадия 4. 
        .foundation-build-elem-info
          .foundation-build-elem-title Арматура
          .foundation-build-elem-desc 
            | Арматура - ее применяют для создания армировочной сетки, которая 
            | будет служить усилителем опоры. Обычно используется прут средним 
            | диаметром 15 мм, сетку фиксируют с помощью перевязочной проволоки. 
            | Полученная конструкция при заливке раствором должна быть полностью закрыта.
        .foundation-build-elem-img-wrap
          img(src="style/img/foundation-build/foundation-build-img-4.jpg", alt="").foundation-build-elem-img

      .foundation-build-elem
        .foundation-build-elem-stage Стадия 5. 
        .foundation-build-elem-info
          .foundation-build-elem-title Заливка бетона
          .foundation-build-elem-desc 
            | Бетон - его заливают по всей длине периметра и сразу, общий период 
            | высыхания может доходить до одного месяца. Опалубку снимают после 
            | того, как раствор будет иметь показатель влажности не более 4%. 
            | Затем приступают к гидроизоляции, проводят полное утепление с отмосткой.
        .foundation-build-elem-img-wrap
          img(src="style/img/foundation-build/foundation-build-img-5.jpg", alt="").foundation-build-elem-img

    .foundation-build-slider.slick-nav-bottom
      .foundation-build-slider-elem
        .foundation-build-slider-title Стадия 1. 
        img(src="style/img/foundation-build/foundation-build-img-1.jpg", alt="").foundation-build-slider-img
        .foundation-build-slider-desc
          | Начальный этап состоит из расчистки местности, общей разметки и 
          | выкапывания траншей под будущее основание. Размечают участок с 
          | применением колышков, веревки и измерительной рулетки. Колышки 
          | ставят через определенное расстояние парно - с внешней и внутренней 
          | стороны для обозначения границ. В случае мелкозаглубленного варианта 
          | достаточно использовать обычную лопату и наметить контуры ленты. При 
          | заглублении лучше всего применять специализированную технику типа 
          | экскаватора - снижает сроки работ, выполняет большие объемы. 
          | Угловые участки можно пройти вручную.

      .foundation-build-slider-elem
        .foundation-build-slider-title Стадия 2. 
        img(src="style/img/foundation-build/foundation-build-img-2.jpg", alt="").foundation-build-slider-img
        .foundation-build-slider-desc
          | Начальный этап состоит из расчистки местности, общей разметки и 
          | выкапывания траншей под будущее основание. Размечают участок с 
          | применением колышков, веревки и измерительной рулетки. Колышки 
          | ставят через определенное расстояние парно - с внешней и внутренней 
          | стороны для обозначения границ. В случае мелкозаглубленного варианта 
          | достаточно использовать обычную лопату и наметить контуры ленты. При 
          | заглублении лучше всего применять специализированную технику типа 
          | экскаватора - снижает сроки работ, выполняет большие объемы. 
          | Угловые участки можно пройти вручную.
      
      .foundation-build-slider-elem
        .foundation-build-slider-title Стадия 3. 
        img(src="style/img/foundation-build/foundation-build-img-3.jpg", alt="").foundation-build-slider-img
        .foundation-build-slider-desc
          | Начальный этап состоит из расчистки местности, общей разметки и 
          | выкапывания траншей под будущее основание. Размечают участок с 
          | применением колышков, веревки и измерительной рулетки. Колышки 
          | ставят через определенное расстояние парно - с внешней и внутренней 
          | стороны для обозначения границ. В случае мелкозаглубленного варианта 
          | достаточно использовать обычную лопату и наметить контуры ленты. При 
          | заглублении лучше всего применять специализированную технику типа 
          | экскаватора - снижает сроки работ, выполняет большие объемы. 
          | Угловые участки можно пройти вручную.
      
      .foundation-build-slider-elem
        .foundation-build-slider-title Стадия 4. 
        img(src="style/img/foundation-build/foundation-build-img-4.jpg", alt="").foundation-build-slider-img
        .foundation-build-slider-desc
          | Начальный этап состоит из расчистки местности, общей разметки и 
          | выкапывания траншей под будущее основание. Размечают участок с 
          | применением колышков, веревки и измерительной рулетки. Колышки 
          | ставят через определенное расстояние парно - с внешней и внутренней 
          | стороны для обозначения границ. В случае мелкозаглубленного варианта 
          | достаточно использовать обычную лопату и наметить контуры ленты. При 
          | заглублении лучше всего применять специализированную технику типа 
          | экскаватора - снижает сроки работ, выполняет большие объемы. 
          | Угловые участки можно пройти вручную.
      
      .foundation-build-slider-elem
        .foundation-build-slider-title Стадия 5. 
        img(src="style/img/foundation-build/foundation-build-img-5.jpg", alt="").foundation-build-slider-img
        .foundation-build-slider-desc
          | Начальный этап состоит из расчистки местности, общей разметки и 
          | выкапывания траншей под будущее основание. Размечают участок с 
          | применением колышков, веревки и измерительной рулетки. Колышки 
          | ставят через определенное расстояние парно - с внешней и внутренней 
          | стороны для обозначения границ. В случае мелкозаглубленного варианта 
          | достаточно использовать обычную лопату и наметить контуры ленты. При 
          | заглублении лучше всего применять специализированную технику типа 
          | экскаватора - снижает сроки работ, выполняет большие объемы. 
          | Угловые участки можно пройти вручную.
