img(src="style/img/cone-1.png", alt="").foundation-cone-1
img(src="style/img/cone-3.png", alt="").foundation-cone-2

img(src="style/img/leaf-1.png", alt="").foundation-leaf-2
img(src="style/img/leaf-1.png", alt="").foundation-leaf-3

.container
  .breadcrumbs
    a(href="").breadcrumbs-elem Главная
    .breadcrumbs-elem Проекты домов из клееного бруса

  .container-page-head.product-page-head 
    .container-page-head-text Винтовые сваи для фундамента
    .product-page-head-nav
      a(href="").product-page-head-nav-elem.prev
        svg(width="14" height="27" viewBox="0 0 14 27" fill="none" xmlns="http://www.w3.org/2000/svg").product-page-head-nav-arrow
          path(d="M13 26L1 13.5L13 0.999999" stroke="#631E01" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
      a(href="").product-page-head-nav-elem.next
        svg(width="14" height="27" viewBox="0 0 14 27" fill="none" xmlns="http://www.w3.org/2000/svg").product-page-head-nav-arrow
          path(d="M1 1L13 13.5L1 26" stroke="#631E01" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")

  .foundation-info
    .foundation-info-img-wrap
      img(src="style/img/foundation-img/foundation-img-1.png", alt="").foundation-info-img
    
    .foundation-info-elem
      i 
        | Другие названия: свайно-винтовой фундамент, сваи, свайный фундамент, 
        | металлические сваи
      p
        | В компании Загородный Стандарт за долгий период деятельности накоплен 
        | колоссальный опыт по обустройству свайного фундамента - 
        b выполнено более 1000 объектов. 
        | Это наиболее экономичное решение, позволяющее сократить общие сроки 
        | возведения зданий благодаря легкости монтажа и минимизировать земляные 
        | работы. Следование пожеланиям заказчика, грамотное выполнение обязанностей, 
        b собственное производство 
        | (исключает подрядчиков со стороны). Предоплата не требуется, 
        b гарантия 
        | на полученный фундамент - 
        b 20 лет.
      
      .foundation-info-price
        .foundation-info-price-elem
          .foundation-info-price-title Стоимость
          .foundation-info-price-val 
            span.foundation-info-price-val-num 2900 руб. 
            | за сваю
        .foundation-info-price-elem
          a(href="").foundation-info-price-link Рассчитать стоимость

.foundation-about
  img(src="style/img/leaf-1.png", alt="").foundation-leaf-1

  .container
    .foundation-about-wrap
      .foundation-about-elem
        .foundation-about-elem-wrap
          img(src="style/img/foundation-about/foundation-about-img-1.svg", alt="").foundation-about-elem-img
          .foundation-about-elem-title Гарантия 20 лет
          .foundation-about-elem-desc 
            | Мы предоставляем полную гарантию на все 
            | произведенные нами сваи.
        
      .foundation-about-elem
        .foundation-about-elem-wrap
          img(src="style/img/foundation-about/foundation-about-img-2.svg", alt="").foundation-about-elem-img
          .foundation-about-elem-title Техника
          .foundation-about-elem-desc 
            | Материально-техническая база располагает 
            | техникой для монтажа, доставки, производства
      
      .foundation-about-elem
        .foundation-about-elem-wrap
          img(src="style/img/foundation-about/foundation-about-img-3.svg", alt="").foundation-about-elem-img
          .foundation-about-elem-title Опыт
          .foundation-about-elem-desc 
            | Деятельность фирмы 15 лет. Разряд сварщиков не 
            | ниже третьего. Стаж монтажников более 5 лет.
      
      .foundation-about-elem
        .foundation-about-elem-wrap
          img(src="style/img/foundation-about/foundation-about-img-4.svg", alt="").foundation-about-elem-img
          .foundation-about-elem-title Стандарты
          .foundation-about-elem-desc 
            | Собственное производство. Полный цикл. 
            | Соблюдение ГОСТ. Сертификация.

.container
  .foundation-diff

    .container-head
      .container-head-text Отличия наших свай

    .foundation-diff-slider
      .foundation-diff-elem
        .foundation-diff-elem-wrap
          .foundation-diff-elem-num 1
          .foundation-diff-title Используемая труба
          .foundation-diff-item.good
            .foundation-diff-item-img-wrap
              img(src="style/img/foundation-diff/foundation-diff-img-1.jpg", alt="").foundation-diff-item-img
              img(src="style/img/icon/good-icon.svg", alt="").foundation-diff-item-val
            .foundation-diff-item-text
              | Наша компания в процессе работы пользуется материалом, 
              | соответствующим ГОСТам 10704-91, 10705-80. Это новые 
              | стальные трубы со стандартной толщиной в 4 мм и никак 
              | не меньше. Мы отвечаем за качество изделий - приобретение 
              | ведется только у проверенных поставщиков - крупнейших 
              | производителей нашей страны, покупка товара проходит 
              | оптом, что позволяет в дальнейшем сохранять доступные цены 
              | для клиентов и ни в коем случае не экономить на качественных 
              | показателях продукта.
          .foundation-diff-item.bad
            .foundation-diff-item-img-wrap
              img(src="style/img/foundation-diff/foundation-diff-img-2.jpg", alt="").foundation-diff-item-img
              img(src="style/img/icon/bad-icon.svg", alt="").foundation-diff-item-val
            .foundation-diff-item-text
              | Главной проблемой экономии считается применение лежалых 
              | труб, которые пробыв долгое время в среде с повышенной 
              | влажностью покрываются ржавчиной и теряют свои прочностные 
              | характеристики. Показатель толщины у них обычно меньше 
              | стандарта на 0,5 мм, что не соответствует нормативам. 
              | Также производители используют трубы с плохой проваркой 
              | швов, неровным покрытием или поверхностью - фактически 
              | это металлопрокат второго сорта.
      
      .foundation-diff-elem
        .foundation-diff-elem-wrap
          .foundation-diff-elem-num 2
          .foundation-diff-title Используемая труба
          .foundation-diff-item.good
            .foundation-diff-item-img-wrap
              img(src="style/img/foundation-diff/foundation-diff-img-1.jpg", alt="").foundation-diff-item-img
              img(src="style/img/icon/good-icon.svg", alt="").foundation-diff-item-val
            .foundation-diff-item-text
              | Наша компания в процессе работы пользуется материалом, 
              | соответствующим ГОСТам 10704-91, 10705-80. Это новые 
              | стальные трубы со стандартной толщиной в 4 мм и никак 
              | не меньше. Мы отвечаем за качество изделий - приобретение 
              | ведется только у проверенных поставщиков - крупнейших 
              | производителей нашей страны, покупка товара проходит 
              | оптом, что позволяет в дальнейшем сохранять доступные цены 
              | для клиентов и ни в коем случае не экономить на качественных 
              | показателях продукта.
          .foundation-diff-item.bad
            .foundation-diff-item-img-wrap
              img(src="style/img/foundation-diff/foundation-diff-img-2.jpg", alt="").foundation-diff-item-img
              img(src="style/img/icon/bad-icon.svg", alt="").foundation-diff-item-val
            .foundation-diff-item-text
              | Главной проблемой экономии считается применение лежалых 
              | труб, которые пробыв долгое время в среде с повышенной 
              | влажностью покрываются ржавчиной и теряют свои прочностные 
              | характеристики. Показатель толщины у них обычно меньше 
              | стандарта на 0,5 мм, что не соответствует нормативам. 
              | Также производители используют трубы с плохой проваркой 
              | швов, неровным покрытием или поверхностью - фактически 
              | это металлопрокат второго сорта.
      
      .foundation-diff-elem
        .foundation-diff-elem-wrap
          .foundation-diff-elem-num 3
          .foundation-diff-title Используемая труба
          .foundation-diff-item.good
            .foundation-diff-item-img-wrap
              img(src="style/img/foundation-diff/foundation-diff-img-1.jpg", alt="").foundation-diff-item-img
              img(src="style/img/icon/good-icon.svg", alt="").foundation-diff-item-val
            .foundation-diff-item-text
              | Наша компания в процессе работы пользуется материалом, 
              | соответствующим ГОСТам 10704-91, 10705-80. Это новые 
              | стальные трубы со стандартной толщиной в 4 мм и никак 
              | не меньше. Мы отвечаем за качество изделий - приобретение 
              | ведется только у проверенных поставщиков - крупнейших 
              | производителей нашей страны, покупка товара проходит 
              | оптом, что позволяет в дальнейшем сохранять доступные цены 
              | для клиентов и ни в коем случае не экономить на качественных 
              | показателях продукта.
          .foundation-diff-item.bad
            .foundation-diff-item-img-wrap
              img(src="style/img/foundation-diff/foundation-diff-img-2.jpg", alt="").foundation-diff-item-img
              img(src="style/img/icon/bad-icon.svg", alt="").foundation-diff-item-val
            .foundation-diff-item-text
              | Главной проблемой экономии считается применение лежалых 
              | труб, которые пробыв долгое время в среде с повышенной 
              | влажностью покрываются ржавчиной и теряют свои прочностные 
              | характеристики. Показатель толщины у них обычно меньше 
              | стандарта на 0,5 мм, что не соответствует нормативам. 
              | Также производители используют трубы с плохой проваркой 
              | швов, неровным покрытием или поверхностью - фактически 
              | это металлопрокат второго сорта.

      .foundation-diff-elem
        .foundation-diff-elem-wrap
          .foundation-diff-elem-num 4
          .foundation-diff-title Используемая труба
          .foundation-diff-item.good
            .foundation-diff-item-img-wrap
              img(src="style/img/foundation-diff/foundation-diff-img-1.jpg", alt="").foundation-diff-item-img
              img(src="style/img/icon/good-icon.svg", alt="").foundation-diff-item-val
            .foundation-diff-item-text
              | Наша компания в процессе работы пользуется материалом, 
              | соответствующим ГОСТам 10704-91, 10705-80. Это новые 
              | стальные трубы со стандартной толщиной в 4 мм и никак 
              | не меньше. Мы отвечаем за качество изделий - приобретение 
              | ведется только у проверенных поставщиков - крупнейших 
              | производителей нашей страны, покупка товара проходит 
              | оптом, что позволяет в дальнейшем сохранять доступные цены 
              | для клиентов и ни в коем случае не экономить на качественных 
              | показателях продукта.
          .foundation-diff-item.bad
            .foundation-diff-item-img-wrap
              img(src="style/img/foundation-diff/foundation-diff-img-2.jpg", alt="").foundation-diff-item-img
              img(src="style/img/icon/bad-icon.svg", alt="").foundation-diff-item-val
            .foundation-diff-item-text
              | Главной проблемой экономии считается применение лежалых 
              | труб, которые пробыв долгое время в среде с повышенной 
              | влажностью покрываются ржавчиной и теряют свои прочностные 
              | характеристики. Показатель толщины у них обычно меньше 
              | стандарта на 0,5 мм, что не соответствует нормативам. 
              | Также производители используют трубы с плохой проваркой 
              | швов, неровным покрытием или поверхностью - фактически 
              | это металлопрокат второго сорта.
      
      .foundation-diff-elem
        .foundation-diff-elem-wrap
          .foundation-diff-elem-num 5
          .foundation-diff-title Используемая труба
          .foundation-diff-item.good
            .foundation-diff-item-img-wrap
              img(src="style/img/foundation-diff/foundation-diff-img-1.jpg", alt="").foundation-diff-item-img
              img(src="style/img/icon/good-icon.svg", alt="").foundation-diff-item-val
            .foundation-diff-item-text
              | Наша компания в процессе работы пользуется материалом, 
              | соответствующим ГОСТам 10704-91, 10705-80. Это новые 
              | стальные трубы со стандартной толщиной в 4 мм и никак 
              | не меньше. Мы отвечаем за качество изделий - приобретение 
              | ведется только у проверенных поставщиков - крупнейших 
              | производителей нашей страны, покупка товара проходит 
              | оптом, что позволяет в дальнейшем сохранять доступные цены 
              | для клиентов и ни в коем случае не экономить на качественных 
              | показателях продукта.
          .foundation-diff-item.bad
            .foundation-diff-item-img-wrap
              img(src="style/img/foundation-diff/foundation-diff-img-2.jpg", alt="").foundation-diff-item-img
              img(src="style/img/icon/bad-icon.svg", alt="").foundation-diff-item-val
            .foundation-diff-item-text
              | Главной проблемой экономии считается применение лежалых 
              | труб, которые пробыв долгое время в среде с повышенной 
              | влажностью покрываются ржавчиной и теряют свои прочностные 
              | характеристики. Показатель толщины у них обычно меньше 
              | стандарта на 0,5 мм, что не соответствует нормативам. 
              | Также производители используют трубы с плохой проваркой 
              | швов, неровным покрытием или поверхностью - фактически 
              | это металлопрокат второго сорта.
      
      .foundation-diff-elem
        .foundation-diff-elem-wrap
          .foundation-diff-elem-num 6
          .foundation-diff-title Используемая труба
          .foundation-diff-item.good
            .foundation-diff-item-img-wrap
              img(src="style/img/foundation-diff/foundation-diff-img-1.jpg", alt="").foundation-diff-item-img
              img(src="style/img/icon/good-icon.svg", alt="").foundation-diff-item-val
            .foundation-diff-item-text
              | Наша компания в процессе работы пользуется материалом, 
              | соответствующим ГОСТам 10704-91, 10705-80. Это новые 
              | стальные трубы со стандартной толщиной в 4 мм и никак 
              | не меньше. Мы отвечаем за качество изделий - приобретение 
              | ведется только у проверенных поставщиков - крупнейших 
              | производителей нашей страны, покупка товара проходит 
              | оптом, что позволяет в дальнейшем сохранять доступные цены 
              | для клиентов и ни в коем случае не экономить на качественных 
              | показателях продукта.
          .foundation-diff-item.bad
            .foundation-diff-item-img-wrap
              img(src="style/img/foundation-diff/foundation-diff-img-2.jpg", alt="").foundation-diff-item-img
              img(src="style/img/icon/bad-icon.svg", alt="").foundation-diff-item-val
            .foundation-diff-item-text
              | Главной проблемой экономии считается применение лежалых 
              | труб, которые пробыв долгое время в среде с повышенной 
              | влажностью покрываются ржавчиной и теряют свои прочностные 
              | характеристики. Показатель толщины у них обычно меньше 
              | стандарта на 0,5 мм, что не соответствует нормативам. 
              | Также производители используют трубы с плохой проваркой 
              | швов, неровным покрытием или поверхностью - фактически 
              | это металлопрокат второго сорта.

  .foundation-advantages
    .container-head
      .container-head-text Преимущества и недостатки
    
    .foundation-advantages-wrap
      ul.foundation-advantages-elem.good
        
        li
          | Фундамент может быть возведен в различных местах, даже на первый 
          | взгляд, непригодных для этого, к примеру на склонах, или на 
          | территории с близким залеганием подземных вод, на участках с 
          | сильным водонасыщением, в горах, в регионах с сильным 
          | промерзанием грунтов и др.
        
        li
          | Безопасность - благодаря высоким прочностным показателям 
          | обеспечена надежная устойчивость всей конструкции.
        
        li
          | Цена - экономичные расценки и вполне приемлемая общая 
          | стоимость работ.

        li
          | Сроки работ - довольно высокая скорость возведения, 
          | такой вариант часто выбирают, если требуется быстро 
          | возвести фундамент перед наступлением холодного периода.

        li
          | Чистота - проведение работ не предполагает большого 
          | объема земляных работ, вполне чистый и щадящий метод.

        li
          | Универсальность - свайный вариант подходит для возведения 
          | временных сооружений, поэтому сваи можно использовать многократно.

        li
          | Период службы - он огромен и превосходит показатель в 100 лет.

        li
          | Климат и погодные условия - работы без проблем ведутся 
          | в любой период, даже зимой.

        li
          | Простота применения - сваи легкие в транспортировке, хорошо 
          | сохраняются. Минимальные затраты на рабочую силу - установку 
          | могут проводить всего 2-3 специалиста, часто даже не требуется 
          | привлечения специализированной техники, что также снижает затраты.

      ul.foundation-advantages-elem.bad
        li
          | Создание проекта с обустройством свайного вида фундамента 
          | обойдется заказчику затратнее в сравнении с возведением 
          | столбчатого вида. Такой вариант конструкции больше подойдет 
          | для домов из дерева, пеноблочных, каркасных зданий, строений 
          | из СИП-панелей, но никак не совместимы при строительстве кирпичных 
          | и каменных домов. Бывают случаи, что требуется применение 
          | специализированной техники - вопрос возникает при проблемах с почвой.

        li
          | Обработка свай антикоррозийным составом обязательна, иначе в 
          | недалеком будущем начнется их разрушение и произойдет утрата 
          | несущей способности.

        li
          | Такой тип фундамента не подходит для каменистой местности 
          | - в процессе установки возможно повреждение камнями.
    
  .foundation-type
    .container-head
      .container-head-text Типы свай

    .foundation-type-desc
      | Фундаментные стержни могут иметь разный вид, но схожую конструкцию. 
      | В основе сваи стальная труба со специальным наконечником сварного 
      | или литого типа с одного конца и оголовком с другого. Общие 
      | габариты (от длины до толщины стенок) зависят от показателей 
      | грунта, общей площади будущего строения, этажности здания, 
      | материалов, которые будут использованы при возведении стен.

    .foundation-type-wrap
      .foundation-type-elem
        .foundation-type-elem-img-box
          img(src="style/img/piles/piles-img-1.jpg", alt="").foundation-type-elem-img
        .foundation-type-elem-info
          .foundation-type-elem-title Со сварным наконечником
          .foundation-type-elem-desc
            | Фундаментные стержни могут иметь разный вид, но схожую 
            | конструкцию. В основе сваи стальная труба со специальным 
            | наконечником сварного или литого типа с одного конца и 
            | оголовком с другого. Общие габариты (от длины до толщины 
            | стенок) зависят от показателей грунта, общей площади 
            | будущего строения, этажности здания, материалов, 
            | которые будут использованы при возведении стен.
          a(href="").foundation-type-elem-link Заказать

      .foundation-type-elem
        .foundation-type-elem-img-box
          img(src="style/img/piles/piles-img-2.jpg", alt="").foundation-type-elem-img
        .foundation-type-elem-info
          .foundation-type-elem-title С литым наконечником
          .foundation-type-elem-desc
            | Удобство таких конструкций в том, что их можно использовать 
            | в любой местности - как в лесу, так и на каменистом 
            | грунте. Литой наконечник, вернее его лопасти выполнены 
            | с увеличенной толщиной, поэтому легко входят в почву даже 
            | с сильной корневой растительностью или большими 
            | включениями в почве.
          a(href="").foundation-type-elem-link Заказать
      
      .foundation-type-elem
        .foundation-type-elem-img-box
          img(src="style/img/piles/piles-img-3.jpg", alt="").foundation-type-elem-img
        .foundation-type-elem-info
          .foundation-type-elem-title Оцинкованные
          .foundation-type-elem-desc
            | Для покрытия применяют технологию горячего цинкования, 
            | служит для надежной защиты стали от повышенной влажности 
            | и появления почвенной коррозии, период службы возрастает, 
            | фундамент служит гораздо дольше. Впрочем, как и вся конструкция.
          a(href="").foundation-type-elem-link Заказать
      
      .foundation-type-elem
        .foundation-type-elem-img-box
          img(src="style/img/piles/piles-img-4.jpg", alt="").foundation-type-elem-img
        .foundation-type-elem-info
          .foundation-type-elem-title Двухлопастные
          .foundation-type-elem-desc
            | Подходят для установки на грунтах с повышенным насыщением влагой, 
            | с большим содержанием торфа или на слабых почвах. При 
            | увеличении числа лопастей происходит рост нагрузочного показателя. 
            | Даже при небольшом диаметре стержень выдерживает массивную нагрузку.
          a(href="").foundation-type-elem-link Заказать
      
      .foundation-type-elem
        .foundation-type-elem-img-box
          img(src="style/img/piles/piles-img-5.jpg", alt="").foundation-type-elem-img
        .foundation-type-elem-info
          .foundation-type-elem-title Шприцевидные
          .foundation-type-elem-desc
            | Это наконечник открытого типа, заострен с одной стороны, отлично подходит 
            | для возведения различных беседок и деревянных сооружений, 
            | а также заборов, ограждений.
          a(href="").foundation-type-elem-link Заказать

.foundation-stage
  .container
    .container-head
      .container-head-text Этапы монтажа винтовых свай

    .foundation-stage-wrap
      .foundation-stage-elem
        .foundation-stage-elem-num 1
          .foundation-stage-elem-delimer
        .foundation-stage-elem-title Консультация
        .foundation-stage-elem-desc
          | Оставьте заявку на консультацию или самостоятельно 
          | позвоните/напишите нам для получения предварительной 
          | стоимости, оценки возможности монтажа, правильности 
          | выбора типа фундамента.

      .foundation-stage-elem
        .foundation-stage-elem-num 2
          .foundation-stage-elem-delimer
        .foundation-stage-elem-title Нулевой выезд
        .foundation-stage-elem-desc
          | После согласования всех условий Вам необходимо выбрать 
          | время для осмотра площадки будущего строительства. 
          | Визит инженера состоится в оговоренные сроки, он 
          | произведет необходимые замеры с расчетом стоимости, 
          | согласует с Вами дату работ
          
      .foundation-stage-elem
        .foundation-stage-elem-num 3
        .foundation-stage-elem-title Монтаж
        .foundation-stage-elem-desc
          | Специализированное оборудование, инструмент, буровая 
          | установка и требуемые материалы будут доставлены 
          | на территорию Вашего участка за короткий период, 
          | чтобы коллектив мастеров смог выполнить обустройство 
          | фундамента, предварительно разметив свайное поле.

.container
  .foundation-work
    .container-head
      .container-head-text Наши работы
    
    .foundation-work-slider
      .foundation-work-elem
        .foundation-work-img-wrap
          img(src="style/img/foundation-work/foundation-work-img-1.jpg", alt="").foundation-work-img
      .foundation-work-elem
        .foundation-work-img-wrap
          img(src="style/img/foundation-work/foundation-work-img-2.jpg", alt="").foundation-work-img
      .foundation-work-elem
        .foundation-work-img-wrap
          img(src="style/img/foundation-work/foundation-work-img-3.jpg", alt="").foundation-work-img
      .foundation-work-elem
        .foundation-work-img-wrap
          img(src="style/img/foundation-work/foundation-work-img-1.jpg", alt="").foundation-work-img
      .foundation-work-elem
        .foundation-work-img-wrap
          img(src="style/img/foundation-work/foundation-work-img-2.jpg", alt="").foundation-work-img
      .foundation-work-elem
        .foundation-work-img-wrap
          img(src="style/img/foundation-work/foundation-work-img-3.jpg", alt="").foundation-work-img

  .foundation-other
    .container-head
      .container-head-text Другие доступные фундаменты

    .foundation-other-slider
      .foundation-other-elem
        img(src="style/img/foundation-img/foundation-catalog-img-mob-2.png", alt="").foundation-other-img
        .foundation-other-title Сваи ЖБ
        .foundation-other-price
          .foundation-other-price-title Цена
          .foundation-other-price-val 2900 руб. за сваю
        a(href="").foundation-other-link Подробнее
      .foundation-other-elem
        img(src="style/img/foundation-img/foundation-catalog-img-mob-3.png", alt="").foundation-other-img
        .foundation-other-title Столбчатый
        .foundation-other-price
          .foundation-other-price-title Цена
          .foundation-other-price-val 2900 руб. за сваю
        a(href="").foundation-other-link Подробнее
      .foundation-other-elem
        img(src="style/img/foundation-img/foundation-catalog-img-mob-4.png", alt="").foundation-other-img
        .foundation-other-title Лента
        .foundation-other-price
          .foundation-other-price-title Цена
          .foundation-other-price-val 2900 руб. за сваю
        a(href="").foundation-other-link Подробнее
      .foundation-other-elem
        img(src="style/img/foundation-img/foundation-catalog-img-mob-5.png", alt="").foundation-other-img
        .foundation-other-title Плита
        .foundation-other-price
          .foundation-other-price-title Цена
          .foundation-other-price-val 2900 руб. за сваю
        a(href="").foundation-other-link Подробнее

.question.foundation-question
  img(src="style/img/catalog-question-bg.jpg", alt="").question-bg
  .container
    form(action="").form
      .form-title Не знаете какой фундамент лучше?
      .form-desc Заполните форму ниже и мы Вас проконсультируем
      input(type="text" placeholder="Ваше имя").form-input
      input(type="text" placeholder="Номер телефона / Почта").form-input
      button.form-btn Отправить заявку
