.main-page
  .main-head-slider
    .main-head-slider-elem
      .main-head-slider-bg
        img(src="style/img/slider-bg.jpg", alt="")
      .container.main-head-slider-info
        .main-head-slider-title Нордик
        .main-head-slider-price
          .main-head-slider-price-title 
            | Цена 
            b в каркасном исполнении 
          .main-head-slider-price-value 
            span.main-head-slider-price-curent 795 000 рублей
            span.main-head-slider-price-old вместо 836 000 рублей
        .main-head-slider-price
          .main-head-slider-price-title 
            | Цена 
            b в брусовом исполнении 
          .main-head-slider-price-value 
            span.main-head-slider-price-curent 795 000 рублей
            span.main-head-slider-price-old вместо 836 000 рублей
        .main-head-slider-note
          .main-head-slider-note-wrap
            .main-head-slider-note-elem 7 х 7
            .main-head-slider-note-elem 93 м2
            .main-head-slider-note-elem под ключ
          .main-head-slider-note-desc
            | Все включено – окна, двери, полы, утепление
        a(href="").main-head-slider-link Подробнее
        .main-head-slider-timer
          .main-head-slider-timer-arrow
            img(src="style/img/icon/action-arrow.svg", alt="")
          .main-head-slider-timer-info
            .main-head-slider-timer-title До конца акции осталось
            .main-head-slider-timer-val 00 дн. 00 ч. 00 мин.

    .main-head-slider-elem
      .main-head-slider-bg
        img(src="style/img/slider-bg.jpg", alt="")
      .container.main-head-slider-info
        .main-head-slider-title Нордик
        .main-head-slider-price
          .main-head-slider-price-title 
            | Цена 
            b в каркасном исполнении 
          .main-head-slider-price-value 
            span.main-head-slider-price-curent 795 000 рублей
            span.main-head-slider-price-old вместо 836 000 рублей
        .main-head-slider-price
          .main-head-slider-price-title 
            | Цена 
            b в брусовом исполнении 
          .main-head-slider-price-value 
            span.main-head-slider-price-curent 795 000 рублей
            span.main-head-slider-price-old вместо 836 000 рублей
        .main-head-slider-note
          .main-head-slider-note-wrap
            .main-head-slider-note-elem 7 х 7
            .main-head-slider-note-elem 93 м2
            .main-head-slider-note-elem под ключ
          .main-head-slider-note-desc
            | Все включено – окна, двери, полы, утепление
        a(href="").main-head-slider-link Подробнее

  .container
    .main-advantages
      .container-head
        .container-head-text Почему работать с нами выгодно?
        .main-advantages-more Показать все преимущества
      .main-advantages-wrap
        .main-advantages-elem 
          img(src="style/img/advantages-icon/advantages-num-1.svg", alt="").main-advantages-num
          img(src="style/img/advantages-icon/advantages-icon-1.svg", alt="").main-advantages-icon
          span.main-advantages-text 
            | Строим
            br
            | без предоплаты
        .main-advantages-elem 
          img(src="style/img/advantages-icon/advantages-num-2.svg", alt="").main-advantages-num
          img(src="style/img/advantages-icon/advantages-icon-2.svg", alt="").main-advantages-icon
          span.main-advantages-text 
            | 75 бригад 
            br 
            | в деле
        .main-advantages-elem 
          img(src="style/img/advantages-icon/advantages-num-3.svg", alt="").main-advantages-num
          img(src="style/img/advantages-icon/advantages-icon-3.svg", alt="").main-advantages-icon
          span.main-advantages-text 
            | Прозрачная 
            br 
            | смета и договор
        .main-advantages-elem 
          img(src="style/img/advantages-icon/advantages-num-4.svg", alt="").main-advantages-num
          img(src="style/img/advantages-icon/advantages-icon-4.svg", alt="").main-advantages-icon
          span.main-advantages-text 
            | Огромный 
            br 
            | выбор планировок
        .main-advantages-elem 
          img(src="style/img/advantages-icon/advantages-num-5.svg", alt="").main-advantages-num
          img(src="style/img/advantages-icon/advantages-icon-5.svg", alt="").main-advantages-icon
          span.main-advantages-text 
            | Срок строительства 
            br 
            | от 10 до 30 дней
        .main-advantages-elem 
          img(src="style/img/advantages-icon/advantages-num-6.svg", alt="").main-advantages-num
          img(src="style/img/advantages-icon/advantages-icon-6.svg", alt="").main-advantages-icon
          span.main-advantages-text 
            | Собственное 
            br 
            | производство
        .main-advantages-elem 
          img(src="style/img/advantages-icon/advantages-num-7.svg", alt="").main-advantages-num
          img(src="style/img/advantages-icon/advantages-icon-7.svg", alt="").main-advantages-icon
          span.main-advantages-text 
            | Бесплатная
            br 
            | доставка
        .main-advantages-elem 
          img(src="style/img/advantages-icon/advantages-num-8.svg", alt="").main-advantages-num
          img(src="style/img/advantages-icon/advantages-icon-8.svg", alt="").main-advantages-icon
          span.main-advantages-text 
            | Гарантийные 
            br 
            | обязательства

    .main-build
      .container-head
        .container-head-text Мы строим

