.product-top
  .container
    .breadcrumbs
      a(href="").breadcrumbs-elem Главная
      .breadcrumbs-elem Проекты домов из клееного бруса

    .container-page-head.product-page-head 
      .container-page-head-text Дом из клееного бруса LB-180
      .container-page-head-discount Скидка
      .product-page-head-nav
        a(href="").product-page-head-nav-elem.prev
          svg(width="14" height="27" viewBox="0 0 14 27" fill="none" xmlns="http://www.w3.org/2000/svg").product-page-head-nav-arrow
            path(d="M13 26L1 13.5L13 0.999999" stroke="#631E01" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
        a(href="").product-page-head-nav-elem.next
          svg(width="14" height="27" viewBox="0 0 14 27" fill="none" xmlns="http://www.w3.org/2000/svg").product-page-head-nav-arrow
            path(d="M1 1L13 13.5L1 26" stroke="#631E01" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")

    .product-wrap
      .product-prev-slider-wrap
        .product-prev-slider
          .product-prev-slider-item
            img(src="style/img/product-big-img.jpg", alt="").product-prev-slider-item-img
          .product-prev-slider-item
            img(src="style/img/product-big-img.jpg", alt="").product-prev-slider-item-img
          .product-prev-slider-item
            img(src="style/img/product-big-img.jpg", alt="").product-prev-slider-item-img
          .product-prev-slider-item
            img(src="style/img/product-big-img.jpg", alt="").product-prev-slider-item-img
          .product-prev-slider-item
            img(src="style/img/product-big-img.jpg", alt="").product-prev-slider-item-img
          .product-prev-slider-item
            img(src="style/img/product-big-img.jpg", alt="").product-prev-slider-item-img
        .product-prev-slider-nav
          .product-prev-slider-nav-item(data-slick-index='0').active
            .product-prev-slider-nav-item-wrap
              img(src="style/img/product-prev-slider/product-prev-slider-img-1.png", alt="").product-prev-slider-nav-item-img
          .product-prev-slider-nav-item(data-slick-index='1')
            .product-prev-slider-nav-item-wrap
              img(src="style/img/product-prev-slider/product-prev-slider-img-2.png", alt="").product-prev-slider-nav-item-img
          .product-prev-slider-nav-item(data-slick-index='2')
            .product-prev-slider-nav-item-wrap
              img(src="style/img/product-prev-slider/product-prev-slider-img-3.png", alt="").product-prev-slider-nav-item-img
          .product-prev-slider-nav-item(data-slick-index='3')
            .product-prev-slider-nav-item-wrap
              img(src="style/img/product-prev-slider/product-prev-slider-img-4.png", alt="").product-prev-slider-nav-item-img
          .product-prev-slider-nav-item(data-slick-index='4')
            .product-prev-slider-nav-item-wrap
              img(src="style/img/product-prev-slider/product-prev-slider-img-5.png", alt="").product-prev-slider-nav-item-img
          .product-prev-slider-nav-item(data-slick-index='5')
            .product-prev-slider-nav-item-wrap
              img(src="style/img/product-prev-slider/product-prev-slider-img-6.png", alt="").product-prev-slider-nav-item-img
      
      .product-sidebar-wrap
        .product-sidebar 
          .product-sidebar-elem
            .product-sidebar-size
              .product-size-name Размер
              .product-size-val 8х8 м
            .product-sidebar-size
              .product-size-name Площадь
              .product-size-val 120 кв.м
            .product-sidebar-size
              .product-size-name Этажность
              .product-size-val 2 этажа
          
          .product-sidebar-elem
            form(action="").product-sidebar-form
              .product-sidebar-radio-wrap
                label.product-sidebar-radio
                  input(type="radio" name="product-sidebar-radio").product-sidebar-radio-btn
                  span.product-sidebar-radio-elem
                    | Под ключ 
                label.product-sidebar-radio
                  input(type="radio" name="product-sidebar-radio").product-sidebar-radio-btn
                  span.product-sidebar-radio-elem
                    | Под усадку
            
              .product-sidebar-table
                .product-sidebar-table-head
                  .product-sidebar-table-elem Брус
                  .product-sidebar-table-elem Стоимость
                
                .product-sidebar-table-row
                  .product-sidebar-table-elem.product-sidebar-table-size
                    .product-sidebar-table-size-img-wrap
                      img(src="style/img/product-size/product-size-1.png", alt="").product-sidebar-table-size-img
                    | 90х140
                  .product-sidebar-table-elem.product-sidebar-table-price
                    .product-sidebar-table-price-current 936 682 рублей
                    .product-sidebar-table-price-next
                      | 1 023 938 после 21.06.2020
                
                .product-sidebar-table-row
                  .product-sidebar-table-elem.product-sidebar-table-size
                    .product-sidebar-table-size-img-wrap
                      img(src="style/img/product-size/product-size-2.png", alt="").product-sidebar-table-size-img
                    | 140х140
                  .product-sidebar-table-elem.product-sidebar-table-price
                    .product-sidebar-table-price-current 1 239 098 рублей
                    .product-sidebar-table-price-next
                      | 1 023 938 после 21.06.2020
                
                .product-sidebar-table-row.action
                  .product-sidebar-table-elem.product-sidebar-table-size
                    .product-sidebar-table-size-img-wrap
                      img(src="style/img/product-size/product-size-3.png", alt="").product-sidebar-table-size-img
                    | 190х140
                  .product-sidebar-table-elem.product-sidebar-table-price
                    .product-sidebar-table-price-action 
                      | 1 239 098
                      span.product-sidebar-table-price-action-old 1 568 031 руб 
                    .product-sidebar-table-price-next
                      | 1 023 938 после 21.06.2020

              .product-sidebar-note
                span.product-sidebar-note-text
                  | Брус 
                  a(href="").product-sidebar-note-link каменной сушки 
                  | +12% к стоимости
                span.product-sidebar-note-text
                  | Цена указана без стоимости 
                  a(href="").product-sidebar-note-link фундамента
              
              a(href="").product-sidebar-order Заказть строительство
          
          .product-sidebar-info
            .product-sidebar-info-elem 
              img(src="style/img/icon/credit.svg", alt="").product-sidebar-info-elem-icon
              | В кредит 7500 руб./мес.
            .product-sidebar-info-elem 
              img(src="style/img/icon/capital.svg", alt="").product-sidebar-info-elem-icon
              | Маткапитал
            .product-sidebar-info-elem 
              img(src="style/img/icon/like.svg", alt="").product-sidebar-info-elem-icon
              | Сельская ипотека 2,7%
          
          .product-sidebar-footer
            .product-sidebar-footer-title Без предоплаты
            .product-sidebar-footer-elem 
              span 70% 
              | после разгрузки строительных материалов на участок
            .product-sidebar-footer-elem 
              span 30% 
              | после завершения строительства

.container
  .product-qinfo
    .product-qinfo-elem
      .product-qinfo-head 
        .product-qinfo-head-text 5
      .product-qinfo-desc Комнат
    .product-qinfo-elem
      .product-qinfo-head 
        .product-qinfo-head-text 3
      .product-qinfo-desc Спален
    .product-qinfo-elem
      .product-qinfo-head
        .product-qinfo-head-text 2
      .product-qinfo-desc Этажность
    .product-qinfo-elem
      .product-qinfo-head
        .product-qinfo-head-text 180
      .product-qinfo-desc Площадь (м2)
    .product-qinfo-elem
      .product-qinfo-head
        .product-qinfo-head-text 20
      .product-qinfo-desc Сроки (р.д.)

  
.product-height
  .container
    .product-height-wrap
      .product-height-elem
        .product-height-elem-wrap
          .product-height-elem-img
            img(src="style/img/product-height-1.svg", alt="")
          .product-height-info
            .product-height-title Высота потолков*
            .product-height-info-row 
              .product-height-info-name 1-го этажа
              .product-height-info-val 2,35 м
            .product-height-info-row 
              .product-height-info-name 2-го этажа
              .product-height-info-val 2,35 м
        .product-height-info-note *Возможно увеличение высоты потолков
      .product-height-elem
        .product-height-elem-wrap
          .product-height-elem-img
            img(src="style/img/product-height-2.svg", alt="")
          .product-height-info
            .product-height-title Высота фронтонов
            .product-height-info-row 
              .product-height-info-name Одноэтажный дом
              .product-height-info-val 1,5-2 м
            .product-height-info-row 
              .product-height-info-name Одноэтажный дом
              .product-height-info-val 1,5-2 м
      
      .product-height-elem
        .product-height-elem-wrap
          .product-height-elem-img
            img(src="style/img/product-height-3.svg", alt="")
          .product-height-info
            .product-height-title Строим дома с 1991 года
            .product-height-info-desc
              | За эти годы, мы построили уже более 
              b 150 
              | домов

.container
  .product-complect
    .container-page-head
      | Комплектация

    ul.product-complect-nav
      li.product-complect-nav-elem.active Под ключ
      li.product-complect-nav-elem Под усадку
    
    .product-complect-elem.active
      .product-complect-table
        .product-complect-table-body
          .product-complect-table-head 
            | Стеновой комплект
            .product-complect-table-head-img
              img(src="style/img/product-complect/prod-complect-table-head-img-1.jpg", alt="")
          .product-complect-table-row
            .product-complect-table-name 
              .product-complect-table-name-text Двойная обвязка в основании
              .product-complect-table-name-img
                img(src="style/img/product-complect/prod-complect-img.png", alt="")
                .product-complect-table-name-img-number 1
            .product-complect-table-desc
              p.product-complect-table-text
                | Два нижних венца увеличенного размера, вместо 
                | стандартного. Обвязка принимает на себя общий вес дома
                span.product-complect-table-action АКЦИЯ БЕСПЛАТНО
          .product-complect-table-row
            .product-complect-table-name 
              .product-complect-table-name-text Брус профилированный стеновой
              .product-complect-table-name-img
                img(src="style/img/product-complect/prod-complect-img.png", alt="")
                .product-complect-table-name-img-number 1
            .product-complect-table-desc
              .product-complect-size
                .product-complect-size-title Размеры: 
                .product-complect-size-elem
                  img(src="style/img/product-size/product-size-1.png", alt="").product-complect-size-img
                  | 90х140
                .product-complect-size-elem
                  img(src="style/img/product-size/product-size-2.png", alt="").product-complect-size-img
                  | 140х140
                .product-complect-size-elem
                  img(src="style/img/product-size/product-size-3.png", alt="").product-complect-size-img
                  | 190х140
              p.product-complect-table-text
                | Характеристики: брус строганный профилированный, хвойные породы, 
                | естествеенной влажности или камерной сушки
              p.product-complect-table-text
                | Геометричские формы: прямоугольник, возможно закругление с внешней 
                | стороны Тип нагеля: металлический 200 мм [Возможна замена на березовый]
          .product-complect-table-row
            .product-complect-table-name 
              .product-complect-table-name-text Льноджутовый утеплитель
              .product-complect-table-name-img
                img(src="style/img/product-complect/prod-complect-img.png", alt="")
                .product-complect-table-name-img-number 1
            .product-complect-table-desc
              p.product-complect-table-text
                | Экологический чистый, надежно защищает от сквозняков и морозов, 
                | не содержит вредных веществ и пропиток, позволят дому "дышать" [Eco]
          .product-complect-table-row
            .product-complect-table-name 
              .product-complect-table-name-text Внутренние перегородки
              .product-complect-table-name-img
                img(src="style/img/product-complect/prod-complect-img.png", alt="")
                .product-complect-table-name-img-number 1
            .product-complect-table-desc
              .p.product-complect-table-text
                | Размер: 90 х 140
              p.product-complect-table-text
                | Характеристики: брус строганный профилированный, 
                | хвойные породы, естествеенной влажности или камерной сушки
          .product-complect-table-row
            .product-complect-table-name 
              .product-complect-table-name-text Перегородки мансарды
              .product-complect-table-name-img
                img(src="style/img/product-complect/prod-complect-img.png", alt="")
                .product-complect-table-name-img-number 1
            .product-complect-table-desc
              p.product-complect-table-text
                | Тип: Каркасный
              p.product-complect-table-text
                | Размер: 40 х 100
          .product-complect-table-row
            .product-complect-table-name 
              .product-complect-table-name-text Лаги пола
              .product-complect-table-name-img
                img(src="style/img/product-complect/prod-complect-img.png", alt="")
                .product-complect-table-name-img-number 1
            .product-complect-table-desc
              p.product-complect-table-text
                | Монтируются из обрезной доски 50 х 150 мм, с шагом не 
                | более 575 мм, что обеспечивает прочный пол с отсутсвтием "гуляния"
          .product-complect-table-row
            .product-complect-table-name 
              .product-complect-table-name-text Черновой пол
              .product-complect-table-name-img
                img(src="style/img/product-complect/prod-complect-img.png", alt="")
                .product-complect-table-name-img-number 1
            .product-complect-table-desc
              p.product-complect-table-text
                | Доска обрезная, размером 22 х 100 мм
          .product-complect-table-row
            .product-complect-table-name 
              .product-complect-table-name-text Стыковка в "теплый угол"
              .product-complect-table-name-img
                img(src="style/img/product-complect/prod-complect-img.png", alt="")
                .product-complect-table-name-img-number 1
            .product-complect-table-desc
              p.product-complect-table-text
                | Позволяет защитить дом от продувания углов
          .product-complect-table-row
            .product-complect-table-name 
              .product-complect-table-name-text Потолочные балки перекрытия
              .product-complect-table-name-img
                img(src="style/img/product-complect/prod-complect-img.png", alt="")
                .product-complect-table-name-img-number 1
            .product-complect-table-desc
              p.product-complect-table-text
                | Размер: 40 х 100
              p.product-complect-table-text
                | Характеристики: доска нестроганная, влажность естественная, шаг не более 875 мм 
              p.product-complect-table-text
                | Данные параметы перекрытий позволяют сделать их надежными и прочными
        
        .product-complect-table-body
          .product-complect-table-head 
            | Кровля
            .product-complect-table-head-img
              img(src="style/img/product-complect/prod-complect-table-head-img-2.jpg", alt="")
          .product-complect-table-row
            .product-complect-table-name 
              .product-complect-table-name-text Стропильная система
              .product-complect-table-name-img
                img(src="style/img/product-complect/prod-complect-img.png", alt="")
                .product-complect-table-name-img-number 1
            .product-complect-table-desc
              p.product-complect-table-text
                | Доска естественной влажности 40х100 мм с шагом не более 910 мм. 
                | Бесплатная замена на сухую доску камерной сушки
                span.product-complect-table-action АКЦИЯ БЕСПЛАТНО
          .product-complect-table-row
            .product-complect-table-name 
              .product-complect-table-name-text Обрешетка крыши
              .product-complect-table-name-img
                img(src="style/img/product-complect/prod-complect-img.png", alt="")
                .product-complect-table-name-img-number 1
            .product-complect-table-desc
              p.product-complect-table-text
                | Одинарная обрезная доска естественной влажности, 
                | толщиной 20-22 мм, шагом не более 390 мм
          .product-complect-table-row
            .product-complect-table-name 
              .product-complect-table-name-text Кровля
              .product-complect-table-name-img
                img(src="style/img/product-complect/prod-complect-img.png", alt="")
                .product-complect-table-name-img-number 1
            .product-complect-table-desc
              p.product-complect-table-text
                | "Ондулин" при заказе до 599 000 рублей, при заказе свыше - 
                | металлочерепица. По желанию Заказчика возможно выбрать любой доступный 
                | на рынке РФ тип кровли 
                span.product-complect-table-action АКЦИЯ БЕСПЛАТНО
          .product-complect-table-row
            .product-complect-table-name 
              .product-complect-table-name-text Карнизы и поднебесники
              .product-complect-table-name-img
                img(src="style/img/product-complect/prod-complect-img.png", alt="")
                .product-complect-table-name-img-number 1
            .product-complect-table-desc
              p.product-complect-table-text
                | Карнизы подшиваются вагонкой хвойных пород, толщиной 14 мм. Ширина карнизов 
                | и поднебесников 0,25 - 0,3 м может быть увеличина до 0,45 м по желанию 
                | Заказчика 
                span.product-complect-table-action АКЦИЯ БЕСПЛАТНО
          .product-complect-table-row
            .product-complect-table-name 
              .product-complect-table-name-text Фронтоны внешние
              .product-complect-table-name-img
                img(src="style/img/product-complect/prod-complect-img.png", alt="")
                .product-complect-table-name-img-number 1
            .product-complect-table-desc
              p.product-complect-table-text
                | Профилированный брус согласно выбранному сечению для бурсовых домов. Для каркасных - 
                | доска 40 х 100 мм, обшитая вагонкой хвойных пород, толщиной 14 мм

        .product-complect-table-body
          .product-complect-table-head 
            | Утепление
            .product-complect-table-head-img
              img(src="style/img/product-complect/prod-complect-table-head-img-3.jpg", alt="")
          .product-complect-table-row
            .product-complect-table-name 
              .product-complect-table-name-text Утеплитель и изоляция
              .product-complect-table-name-img
                img(src="style/img/product-complect/prod-complect-img.png", alt="")
                .product-complect-table-name-img-number 1
            .product-complect-table-desc
              p.product-complect-table-text
                | Утепление минеральной ватой Knauf полов, потолков, фронтонов, мансарды. 
                | С обеих сторон утеплителя прокладываются ветро- паро- изоляционные 
                | мембраны Isospan или аналог.
          .product-complect-table-row
            .product-complect-table-name 
              .product-complect-table-name-text Мансарда
              .product-complect-table-name-img
                img(src="style/img/product-complect/prod-complect-img.png", alt="")
                .product-complect-table-name-img-number 1
            .product-complect-table-desc
              p.product-complect-table-text
                | В зависимости от проекта мансарда и ее перегородки могут возводиться 
                | частично из бруса и частично по каркасной технологии. Каркас мансарды 
                | изготавливается из доски 40 х 100 мм, снаружи каркаса прокладывается 
                | ветро-, внутри паро- изоляционная пленка Isospan
        
        .product-complect-table-body
          .product-complect-table-head 
            | Внутренняя отделка
            .product-complect-table-head-img
              img(src="style/img/product-complect/prod-complect-table-head-img-4.jpg", alt="")
          .product-complect-table-row
            .product-complect-table-name 
              .product-complect-table-name-text Чистовой пол
              .product-complect-table-name-img
                img(src="style/img/product-complect/prod-complect-img.png", alt="")
                .product-complect-table-name-img-number 1
            .product-complect-table-desc
              p.product-complect-table-text
                | Усиленная сухая шпунтованная доска 36 мм вместо 27 мм
          .product-complect-table-row
            .product-complect-table-name 
              .product-complect-table-name-text Потолок
              .product-complect-table-name-img
                img(src="style/img/product-complect/prod-complect-img.png", alt="")
                .product-complect-table-name-img-number 1
            .product-complect-table-desc
              p.product-complect-table-text
                | Потолок подшивается сухой вагонкой камерной сушки 14 мм, хвойных 
                | пород дерева, класс "В"
          .product-complect-table-row
            .product-complect-table-name 
              .product-complect-table-name-text Плинтус
              .product-complect-table-name-img
                img(src="style/img/product-complect/prod-complect-img.png", alt="")
                .product-complect-table-name-img-number 1
            .product-complect-table-desc
              p.product-complect-table-text
                | Углы дома закрываются сухим деревянным плинтсуом
          .product-complect-table-row
            .product-complect-table-name 
              .product-complect-table-name-text Наличники
              .product-complect-table-name-img
                img(src="style/img/product-complect/prod-complect-img.png", alt="")
                .product-complect-table-name-img-number 1
            .product-complect-table-desc
              p.product-complect-table-text
                | Дверные и оконные проемы оформляются наличниками
          .product-complect-table-row
            .product-complect-table-name 
              .product-complect-table-name-text Мансарда
              .product-complect-table-name-img
                img(src="style/img/product-complect/prod-complect-img.png", alt="")
                .product-complect-table-name-img-number 1
            .product-complect-table-desc
              p.product-complect-table-text
                | Помещение мансарды и перегородки обшиваются сухой вагонкой 
                | камерной сушки 14 мм, хвойных пород дерева, класс "В"
        
        .product-complect-table-body
          .product-complect-table-head 
            | Окна и двери
            .product-complect-table-head-img
              img(src="style/img/product-complect/prod-complect-table-head-img-5.jpg", alt="")
          .product-complect-table-row
            .product-complect-table-name 
              .product-complect-table-name-text Окна
              .product-complect-table-name-img
                img(src="style/img/product-complect/prod-complect-img.png", alt="")
                .product-complect-table-name-img-number 1
            .product-complect-table-desc
              p.product-complect-table-text
                | Зимние окна из сосны, двойные, оснащены поворотной фурнитурой. 
                | Стекла герметичные. Ручки в комплекте.
          .product-complect-table-row
            .product-complect-table-name 
              .product-complect-table-name-text Дверь входная
              .product-complect-table-name-img
                img(src="style/img/product-complect/prod-complect-img.png", alt="")
                .product-complect-table-name-img-number 1
            .product-complect-table-desc
              p.product-complect-table-text
                | Металлическая с замком и глазком вместо деревянной [акция]
          .product-complect-table-row
            .product-complect-table-name 
              .product-complect-table-name-text Двери межкомнатные
              .product-complect-table-name-img
                img(src="style/img/product-complect/prod-complect-img.png", alt="")
                .product-complect-table-name-img-number 1
            .product-complect-table-desc
              p.product-complect-table-text
                | Филенчатые, из сосны, размеры 0,8 х 2,0 м

        .product-complect-table-body
          .product-complect-table-head 
            | Стоимость строительства под ключ
          .product-complect-table-sum
            .product-complect-table-sum-elem
              .product-complect-table-sum-size
                img(src="style/img/product-size/product-size-1.png", alt="")
                | 90х140
              .product-complect-table-sum-val 1 239 098 рублей
            .product-complect-table-sum-elem
              .product-complect-table-sum-size
                img(src="style/img/product-size/product-size-2.png", alt="")
                | 140х140
              .product-complect-table-sum-val 1 239 098 рублей
            .product-complect-table-sum-elem
              .product-complect-table-sum-size
                img(src="style/img/product-size/product-size-3.png", alt="")
                | 190х140
              .product-complect-table-sum-val 1 239 098 рублей
          
      .product-complect-table.add
        .product-complect-table-body
          .product-complect-table-head 
            | Дополнительно
          .product-complect-table-row
            .product-complect-table-name 
              .product-complect-table-name-text Лестница
              .product-complect-table-name-img
                img(src="style/img/product-complect/prod-complect-img.png", alt="")
                .product-complect-table-name-img-number 1
            .product-complect-table-desc
              p.product-complect-table-text
                | Лестница деревянная, ступени сдвоенные из шпунтованной доски 36 мм. 
                | Комплектуется стартовыми столбами, ограждениями из резных перил и балясин
            .product-complect-table-price 100 р.
          .product-complect-table-row
            .product-complect-table-name 
              .product-complect-table-name-text Ступени
            .product-complect-table-desc
              p.product-complect-table-text
                | При входе на крыльцо или террасу, из дерева
            .product-complect-table-price 100 р.
          .product-complect-table-row
            .product-complect-table-name 
              .product-complect-table-name-text Дополнительный венец
            .product-complect-table-desc
              p.product-complect-table-text
                | Увеличение высоты потолка первого этажа на 14 см
            .product-complect-table-price 100 р.
          .product-complect-table-row
            .product-complect-table-name 
              .product-complect-table-name-text Замена стандартного утепления на зимнее
            .product-complect-table-desc
              p.product-complect-table-text
                | 150 вместо 50 мм, минеральная вата Knauf, до -30
            .product-complect-table-price 100 р.
          .product-complect-table-row
            .product-complect-table-name 
              .product-complect-table-name-text Замена стандартного утеплителя на Rockwool
            .product-complect-table-desc
              p.product-complect-table-text
                | Более высокий класс утеплителя, лучшие характеристики утепления
            .product-complect-table-price 100 р.
          .product-complect-table-row
            .product-complect-table-name 
              .product-complect-table-name-text Замена пола естественной влажности на сухой
            .product-complect-table-price 100 р.
          .product-complect-table-row
            .product-complect-table-name 
              .product-complect-table-name-text Сборка сруба на берёзовые нагеля
            .product-complect-table-desc
              p.product-complect-table-text
                | Надежный, твердый крепежный элементы из березы, для сборки венцов сруба, 
                | усиление прочности конструкции
            .product-complect-table-price 100 р.
          .product-complect-table-row
            .product-complect-table-name 
              .product-complect-table-name-text Обработка обвязки антисептиком
            .product-complect-table-desc
              p.product-complect-table-text
                | Защита от плесени, гниения, насекомых и темных пятен
            .product-complect-table-price 100 р.
          .product-complect-table-row
            .product-complect-table-name 
              .product-complect-table-name-text Обработка половых лаг антисептиком
              .product-complect-table-name-img
                img(src="style/img/product-complect/prod-complect-img.png", alt="")
                .product-complect-table-name-img-number 1
            .product-complect-table-desc
              p.product-complect-table-text
                | Защита от воздействия плесени, гниения, насекомых
            .product-complect-table-price 100 р.
          .product-complect-table-row
            .product-complect-table-name 
              .product-complect-table-name-text Замена кровли «Ондулин» на металлочерепицу
              .product-complect-table-name-img
                img(src="style/img/product-complect/prod-complect-img.png", alt="")
                .product-complect-table-name-img-number 1
            .product-complect-table-desc
              p.product-complect-table-text
                | При заказе свыше 599 000 рублей замена осуществляется бесплатно
            .product-complect-table-price 100 р.
          .product-complect-table-row
            .product-complect-table-name 
              .product-complect-table-name-text Покраска стен снаружи пропиткой "Верес"
              .product-complect-table-name-img
                img(src="style/img/product-complect/prod-complect-img.png", alt="")
                .product-complect-table-name-img-number 1
            .product-complect-table-price 100 р.
          .product-complect-table-row
            .product-complect-table-name 
              .product-complect-table-name-text Замена деревянной входной двери на металлическую	
              .product-complect-table-name-img
                img(src="style/img/product-complect/prod-complect-img.png", alt="")
                .product-complect-table-name-img-number 1
            .product-complect-table-price 100 р.
          .product-complect-table-row
            .product-complect-table-name 
              .product-complect-table-name-text Замена входной двери на металлическую утепленную	
              .product-complect-table-name-img
                img(src="style/img/product-complect/prod-complect-img.png", alt="")
                .product-complect-table-name-img-number 1
            .product-complect-table-price 100 р.
          .product-complect-table-row
            .product-complect-table-name 
              .product-complect-table-name-text Замена деревянных окон на пластиковые
            .product-complect-table-price 100 р.
          .product-complect-table-row
            .product-complect-table-name 
              .product-complect-table-name-text Усиление проемов окон и дверей ройками
            .product-complect-table-price 100 р.
          .product-complect-table-row
            .product-complect-table-name 
              .product-complect-table-name-text Садовый туалет
              .product-complect-table-name-img
                img(src="style/img/product-complect/prod-complect-img.png", alt="")
                .product-complect-table-name-img-number 1
            .product-complect-table-price 100 р.
          .product-complect-table-row
            .product-complect-table-name 
              .product-complect-table-name-text Строительная бытовка
              .product-complect-table-name-img
                img(src="style/img/product-complect/prod-complect-img.png", alt="")
                .product-complect-table-name-img-number 1
            .product-complect-table-desc
              p.product-complect-table-text
                | Также подойдет как хоз. блок или например, домик для детей, 
                | где они будут играть. Оснащается окном и дверью
            .product-complect-table-price 100 р.
          .product-complect-table-row
            .product-complect-table-name 
              .product-complect-table-name-text Замена половых и потолочных лаг
              .product-complect-table-name-img
                img(src="style/img/product-complect/prod-complect-img.png", alt="")
            .product-complect-table-desc
              p.product-complect-table-text
                | Увеличение толщины для утепления конструкции, до сечения 100 х 150
            .product-complect-table-price 100 р.
          .product-complect-table-row
            .product-complect-table-name 
              .product-complect-table-name-text Монтаж водосточных труб
              .product-complect-table-name-img
                img(src="style/img/product-complect/prod-complect-img.png", alt="")
                .product-complect-table-name-img-number 1
            .product-complect-table-price 100 р.
          .product-complect-table-row
            .product-complect-table-name 
              .product-complect-table-name-text Аренда генератора
              .product-complect-table-name-img
                img(src="style/img/product-complect/prod-complect-img.png", alt="")
                .product-complect-table-name-img-number 1
            .product-complect-table-price 100 р.
          .product-complect-table-row
            .product-complect-table-name 
              .product-complect-table-name-text Замена на брус камерной сушки
              .product-complect-table-name-img
                img(src="style/img/product-complect/prod-complect-img.png", alt="")
                .product-complect-table-name-img-number 1
            .product-complect-table-price 100 р.
          .product-complect-table-row
            .product-complect-table-name 
              .product-complect-table-name-text Сборка бруса по технологии "Теплый Угол"
              .product-complect-table-name-img
                img(src="style/img/product-complect/prod-complect-img.png", alt="")
                .product-complect-table-name-img-number 1
            .product-complect-table-price 100 р.
        
        .product-complect-table-body
          .product-complect-table-head 
            | Фундамент
          .product-complect-table-row
            .product-complect-table-name 
              .product-complect-table-name-text Сваи
              .product-complect-table-name-img
                img(src="style/img/product-complect/prod-complect-img.png", alt="")
                .product-complect-table-name-img-number 1
            .product-complect-table-desc
              p.product-complect-table-text
                | Экономиечски выгодный и надежный вариант, подходящий для 
                | большинства проектов и видов грунтов
            .product-complect-table-price 100 р.
          .product-complect-table-row
            .product-complect-table-name 
              .product-complect-table-name-text Сваи ЖБ
              .product-complect-table-name-img
                img(src="style/img/product-complect/prod-complect-img.png", alt="")
                .product-complect-table-name-img-number 1
            .product-complect-table-desc
              p.product-complect-table-text
                | Современные сваи, произведенные из качественного железобетона, 
                | предназначены для погружения в землю на расчетную глубину с 
                | использованием метода забивки.
            .product-complect-table-price 100 р.
          .product-complect-table-row
            .product-complect-table-name 
              .product-complect-table-name-text Столбчатый
              .product-complect-table-name-img
                img(src="style/img/product-complect/prod-complect-img.png", alt="")
                .product-complect-table-name-img-number 1
            .product-complect-table-desc
              p.product-complect-table-text
                | Недорогой тип фундамента, подоходит не для всех сооружений
            .product-complect-table-price 100 р.
          .product-complect-table-row
            .product-complect-table-name 
              .product-complect-table-name-text Лента
              .product-complect-table-name-img
                img(src="style/img/product-complect/prod-complect-img.png", alt="")
                .product-complect-table-name-img-number 1
            .product-complect-table-desc
              p.product-complect-table-text
                | Один их самых надежных типов фундаментов. Подходит почти для 
                | всех грунтов. В отличии от опорных фундаментов срок возведения 
                | может составлять от двух недель до месяца, т.к. конструкции 
                | необходимо затвердеть
            .product-complect-table-price 100 р.
          .product-complect-table-row
            .product-complect-table-name 
              .product-complect-table-name-text Плита
              .product-complect-table-name-img
                img(src="style/img/product-complect/prod-complect-img.png", alt="")
                .product-complect-table-name-img-number 1
            .product-complect-table-desc
              p.product-complect-table-text
                | Надежная железобетонная монолитная плита. Расчет осуществляется, 
                | согласно особенностям почвы и типу проекта в индивидуальном порядке.
            .product-complect-table-price 100 р.
      
    .product-complect-elem
      .product-complect-table
        .product-complect-table-body
          .product-complect-table-head 
            | Стеновой комплект
            .product-complect-table-head-img
              img(src="style/img/product-complect/prod-complect-table-head-img-1.jpg", alt="")
          .product-complect-table-row
            .product-complect-table-name 
              .product-complect-table-name-text Двойная обвязка в основании
              .product-complect-table-name-img
                img(src="style/img/product-complect/prod-complect-img.png", alt="")
                .product-complect-table-name-img-number 1
            .product-complect-table-desc
              p.product-complect-table-text
                | Два нижних венца увеличенного размера, вместо 
                | стандартного. Обвязка принимает на себя общий вес дома
                span.product-complect-table-action АКЦИЯ БЕСПЛАТНО
          .product-complect-table-row
            .product-complect-table-name 
              .product-complect-table-name-text Брус профилированный стеновой
              .product-complect-table-name-img
                img(src="style/img/product-complect/prod-complect-img.png", alt="")
                .product-complect-table-name-img-number 1
            .product-complect-table-desc
              .product-complect-size
                .product-complect-size-title Размеры: 
                .product-complect-size-elem
                  img(src="style/img/product-size/product-size-1.png", alt="").product-complect-size-img
                  | 90х140
                .product-complect-size-elem
                  img(src="style/img/product-size/product-size-2.png", alt="").product-complect-size-img
                  | 140х140
                .product-complect-size-elem
                  img(src="style/img/product-size/product-size-3.png", alt="").product-complect-size-img
                  | 190х140
              p.product-complect-table-text
                | Характеристики: брус строганный профилированный, хвойные породы, 
                | естествеенной влажности или камерной сушки
              p.product-complect-table-text
                | Геометричские формы: прямоугольник, возможно закругление с внешней 
                | стороны Тип нагеля: металлический 200 мм [Возможна замена на березовый]
          .product-complect-table-row
            .product-complect-table-name 
              .product-complect-table-name-text Льноджутовый утеплитель
              .product-complect-table-name-img
                img(src="style/img/product-complect/prod-complect-img.png", alt="")
                .product-complect-table-name-img-number 1
            .product-complect-table-desc
              p.product-complect-table-text
                | Экологический чистый, надежно защищает от сквозняков и морозов, 
                | не содержит вредных веществ и пропиток, позволят дому "дышать" [Eco]
          .product-complect-table-row
            .product-complect-table-name 
              .product-complect-table-name-text Внутренние перегородки
              .product-complect-table-name-img
                img(src="style/img/product-complect/prod-complect-img.png", alt="")
                .product-complect-table-name-img-number 1
            .product-complect-table-desc
              .p.product-complect-table-text
                | Размер: 90 х 140
              p.product-complect-table-text
                | Характеристики: брус строганный профилированный, 
                | хвойные породы, естествеенной влажности или камерной сушки
          .product-complect-table-row
            .product-complect-table-name 
              .product-complect-table-name-text Перегородки мансарды
              .product-complect-table-name-img
                img(src="style/img/product-complect/prod-complect-img.png", alt="")
                .product-complect-table-name-img-number 1
            .product-complect-table-desc
              p.product-complect-table-text
                | Тип: Каркасный
              p.product-complect-table-text
                | Размер: 40 х 100
          .product-complect-table-row
            .product-complect-table-name 
              .product-complect-table-name-text Лаги пола
              .product-complect-table-name-img
                img(src="style/img/product-complect/prod-complect-img.png", alt="")
                .product-complect-table-name-img-number 1
            .product-complect-table-desc
              p.product-complect-table-text
                | Монтируются из обрезной доски 50 х 150 мм, с шагом не 
                | более 575 мм, что обеспечивает прочный пол с отсутсвтием "гуляния"
          .product-complect-table-row
            .product-complect-table-name 
              .product-complect-table-name-text Черновой пол
              .product-complect-table-name-img
                img(src="style/img/product-complect/prod-complect-img.png", alt="")
                .product-complect-table-name-img-number 1
            .product-complect-table-desc
              p.product-complect-table-text
                | Доска обрезная, размером 22 х 100 мм
          .product-complect-table-row
            .product-complect-table-name 
              .product-complect-table-name-text Стыковка в "теплый угол"
              .product-complect-table-name-img
                img(src="style/img/product-complect/prod-complect-img.png", alt="")
                .product-complect-table-name-img-number 1
            .product-complect-table-desc
              p.product-complect-table-text
                | Позволяет защитить дом от продувания углов
          .product-complect-table-row
            .product-complect-table-name 
              .product-complect-table-name-text Потолочные балки перекрытия
              .product-complect-table-name-img
                img(src="style/img/product-complect/prod-complect-img.png", alt="")
                .product-complect-table-name-img-number 1
            .product-complect-table-desc
              p.product-complect-table-text
                | Размер: 40 х 100
              p.product-complect-table-text
                | Характеристики: доска нестроганная, влажность естественная, шаг не более 875 мм 
              p.product-complect-table-text
                | Данные параметы перекрытий позволяют сделать их надежными и прочными
        
        .product-complect-table-body
          .product-complect-table-head 
            | Кровля
            .product-complect-table-head-img
              img(src="style/img/product-complect/prod-complect-table-head-img-2.jpg", alt="")
          .product-complect-table-row
            .product-complect-table-name 
              .product-complect-table-name-text Стропильная система
              .product-complect-table-name-img
                img(src="style/img/product-complect/prod-complect-img.png", alt="")
                .product-complect-table-name-img-number 1
            .product-complect-table-desc
              p.product-complect-table-text
                | Доска естественной влажности 40х100 мм с шагом не более 910 мм. 
                | Бесплатная замена на сухую доску камерной сушки
                span.product-complect-table-action АКЦИЯ БЕСПЛАТНО
          .product-complect-table-row
            .product-complect-table-name 
              .product-complect-table-name-text Обрешетка крыши
              .product-complect-table-name-img
                img(src="style/img/product-complect/prod-complect-img.png", alt="")
                .product-complect-table-name-img-number 1
            .product-complect-table-desc
              p.product-complect-table-text
                | Одинарная обрезная доска естественной влажности, 
                | толщиной 20-22 мм, шагом не более 390 мм
          .product-complect-table-row
            .product-complect-table-name 
              .product-complect-table-name-text Кровля
              .product-complect-table-name-img
                img(src="style/img/product-complect/prod-complect-img.png", alt="")
                .product-complect-table-name-img-number 1
            .product-complect-table-desc
              p.product-complect-table-text
                | "Ондулин" при заказе до 599 000 рублей, при заказе свыше - 
                | металлочерепица. По желанию Заказчика возможно выбрать любой доступный 
                | на рынке РФ тип кровли 
                span.product-complect-table-action АКЦИЯ БЕСПЛАТНО
          .product-complect-table-row
            .product-complect-table-name 
              .product-complect-table-name-text Карнизы и поднебесники
              .product-complect-table-name-img
                img(src="style/img/product-complect/prod-complect-img.png", alt="")
                .product-complect-table-name-img-number 1
            .product-complect-table-desc
              p.product-complect-table-text
                | Карнизы подшиваются вагонкой хвойных пород, толщиной 14 мм. Ширина карнизов 
                | и поднебесников 0,25 - 0,3 м может быть увеличина до 0,45 м по желанию 
                | Заказчика 
                span.product-complect-table-action АКЦИЯ БЕСПЛАТНО
          .product-complect-table-row
            .product-complect-table-name 
              .product-complect-table-name-text Фронтоны внешние
              .product-complect-table-name-img
                img(src="style/img/product-complect/prod-complect-img.png", alt="")
                .product-complect-table-name-img-number 1
            .product-complect-table-desc
              p.product-complect-table-text
                | Профилированный брус согласно выбранному сечению для бурсовых домов. Для каркасных - 
                | доска 40 х 100 мм, обшитая вагонкой хвойных пород, толщиной 14 мм

        .product-complect-table-body.disabled
          .product-complect-table-head 
            | Утепление
            .product-complect-table-head-img
              img(src="style/img/product-complect/prod-complect-table-head-img-3.jpg", alt="")
          .product-complect-table-row
            .product-complect-table-name 
              .product-complect-table-name-text Утеплитель и изоляция
              .product-complect-table-name-img
                img(src="style/img/product-complect/prod-complect-img.png", alt="")
                .product-complect-table-name-img-number 1
            .product-complect-table-desc
              p.product-complect-table-text
                | Утепление минеральной ватой Knauf полов, потолков, фронтонов, мансарды. 
                | С обеих сторон утеплителя прокладываются ветро- паро- изоляционные 
                | мембраны Isospan или аналог.
          .product-complect-table-row
            .product-complect-table-name 
              .product-complect-table-name-text Мансарда
              .product-complect-table-name-img
                img(src="style/img/product-complect/prod-complect-img.png", alt="")
                .product-complect-table-name-img-number 1
            .product-complect-table-desc
              p.product-complect-table-text
                | В зависимости от проекта мансарда и ее перегородки могут возводиться 
                | частично из бруса и частично по каркасной технологии. Каркас мансарды 
                | изготавливается из доски 40 х 100 мм, снаружи каркаса прокладывается 
                | ветро-, внутри паро- изоляционная пленка Isospan
        
        .product-complect-table-body.disabled
          .product-complect-table-head 
            | Внутренняя отделка
            .product-complect-table-head-img
              img(src="style/img/product-complect/prod-complect-table-head-img-4.jpg", alt="")
          .product-complect-table-row
            .product-complect-table-name 
              .product-complect-table-name-text Чистовой пол
              .product-complect-table-name-img
                img(src="style/img/product-complect/prod-complect-img.png", alt="")
                .product-complect-table-name-img-number 1
            .product-complect-table-desc
              p.product-complect-table-text
                | Усиленная сухая шпунтованная доска 36 мм вместо 27 мм
          .product-complect-table-row
            .product-complect-table-name 
              .product-complect-table-name-text Потолок
              .product-complect-table-name-img
                img(src="style/img/product-complect/prod-complect-img.png", alt="")
                .product-complect-table-name-img-number 1
            .product-complect-table-desc
              p.product-complect-table-text
                | Потолок подшивается сухой вагонкой камерной сушки 14 мм, хвойных 
                | пород дерева, класс "В"
          .product-complect-table-row
            .product-complect-table-name 
              .product-complect-table-name-text Плинтус
              .product-complect-table-name-img
                img(src="style/img/product-complect/prod-complect-img.png", alt="")
                .product-complect-table-name-img-number 1
            .product-complect-table-desc
              p.product-complect-table-text
                | Углы дома закрываются сухим деревянным плинтсуом
          .product-complect-table-row
            .product-complect-table-name 
              .product-complect-table-name-text Наличники
              .product-complect-table-name-img
                img(src="style/img/product-complect/prod-complect-img.png", alt="")
                .product-complect-table-name-img-number 1
            .product-complect-table-desc
              p.product-complect-table-text
                | Дверные и оконные проемы оформляются наличниками
          .product-complect-table-row
            .product-complect-table-name 
              .product-complect-table-name-text Мансарда
              .product-complect-table-name-img
                img(src="style/img/product-complect/prod-complect-img.png", alt="")
                .product-complect-table-name-img-number 1
            .product-complect-table-desc
              p.product-complect-table-text
                | Помещение мансарды и перегородки обшиваются сухой вагонкой 
                | камерной сушки 14 мм, хвойных пород дерева, класс "В"
        
        .product-complect-table-body.disabled
          .product-complect-table-head 
            | Окна и двери
            .product-complect-table-head-img
              img(src="style/img/product-complect/prod-complect-table-head-img-5.jpg", alt="")
          .product-complect-table-row
            .product-complect-table-name 
              .product-complect-table-name-text Окна
              .product-complect-table-name-img
                img(src="style/img/product-complect/prod-complect-img.png", alt="")
                .product-complect-table-name-img-number 1
            .product-complect-table-desc
              p.product-complect-table-text
                | Зимние окна из сосны, двойные, оснащены поворотной фурнитурой. 
                | Стекла герметичные. Ручки в комплекте.
          .product-complect-table-row
            .product-complect-table-name 
              .product-complect-table-name-text Дверь входная
              .product-complect-table-name-img
                img(src="style/img/product-complect/prod-complect-img.png", alt="")
                .product-complect-table-name-img-number 1
            .product-complect-table-desc
              p.product-complect-table-text
                | Металлическая с замком и глазком вместо деревянной [акция]
          .product-complect-table-row
            .product-complect-table-name 
              .product-complect-table-name-text Двери межкомнатные
              .product-complect-table-name-img
                img(src="style/img/product-complect/prod-complect-img.png", alt="")
                .product-complect-table-name-img-number 1
            .product-complect-table-desc
              p.product-complect-table-text
                | Филенчатые, из сосны, размеры 0,8 х 2,0 м

        .product-complect-table-body
          .product-complect-table-head 
            | Стоимость строительства под ключ
          .product-complect-table-sum
            .product-complect-table-sum-elem
              .product-complect-table-sum-size
                img(src="style/img/product-size/product-size-1.png", alt="")
                | 90х140
              .product-complect-table-sum-val 1 239 098 рублей
            .product-complect-table-sum-elem
              .product-complect-table-sum-size
                img(src="style/img/product-size/product-size-2.png", alt="")
                | 140х140
              .product-complect-table-sum-val 1 239 098 рублей
            .product-complect-table-sum-elem
              .product-complect-table-sum-size
                img(src="style/img/product-size/product-size-3.png", alt="")
                | 190х140
              .product-complect-table-sum-val 1 239 098 рублей
          
      .product-complect-table.add
        .product-complect-table-body
          .product-complect-table-head 
            | Дополнительно
          .product-complect-table-row
            .product-complect-table-name 
              .product-complect-table-name-text Лестница
              .product-complect-table-name-img
                img(src="style/img/product-complect/prod-complect-img.png", alt="")
                .product-complect-table-name-img-number 1
            .product-complect-table-desc
              p.product-complect-table-text
                | Лестница деревянная, ступени сдвоенные из шпунтованной доски 36 мм. 
                | Комплектуется стартовыми столбами, ограждениями из резных перил и балясин
            .product-complect-table-price 100 р.
          .product-complect-table-row
            .product-complect-table-name 
              .product-complect-table-name-text Ступени
            .product-complect-table-desc
              p.product-complect-table-text
                | При входе на крыльцо или террасу, из дерева
            .product-complect-table-price 100 р.
          .product-complect-table-row
            .product-complect-table-name 
              .product-complect-table-name-text Дополнительный венец
            .product-complect-table-desc
              p.product-complect-table-text
                | Увеличение высоты потолка первого этажа на 14 см
            .product-complect-table-price 100 р.
          .product-complect-table-row
            .product-complect-table-name 
              .product-complect-table-name-text Замена стандартного утепления на зимнее
            .product-complect-table-desc
              p.product-complect-table-text
                | 150 вместо 50 мм, минеральная вата Knauf, до -30
            .product-complect-table-price 100 р.
          .product-complect-table-row
            .product-complect-table-name 
              .product-complect-table-name-text Замена стандартного утеплителя на Rockwool
            .product-complect-table-desc
              p.product-complect-table-text
                | Более высокий класс утеплителя, лучшие характеристики утепления
            .product-complect-table-price 100 р.
          .product-complect-table-row
            .product-complect-table-name 
              .product-complect-table-name-text Замена пола естественной влажности на сухой
            .product-complect-table-price 100 р.
          .product-complect-table-row
            .product-complect-table-name 
              .product-complect-table-name-text Сборка сруба на берёзовые нагеля
            .product-complect-table-desc
              p.product-complect-table-text
                | Надежный, твердый крепежный элементы из березы, для сборки венцов сруба, 
                | усиление прочности конструкции
            .product-complect-table-price 100 р.
          .product-complect-table-row
            .product-complect-table-name 
              .product-complect-table-name-text Обработка обвязки антисептиком
            .product-complect-table-desc
              p.product-complect-table-text
                | Защита от плесени, гниения, насекомых и темных пятен
            .product-complect-table-price 100 р.
          .product-complect-table-row
            .product-complect-table-name 
              .product-complect-table-name-text Обработка половых лаг антисептиком
              .product-complect-table-name-img
                img(src="style/img/product-complect/prod-complect-img.png", alt="")
                .product-complect-table-name-img-number 1
            .product-complect-table-desc
              p.product-complect-table-text
                | Защита от воздействия плесени, гниения, насекомых
            .product-complect-table-price 100 р.
          .product-complect-table-row
            .product-complect-table-name 
              .product-complect-table-name-text Замена кровли «Ондулин» на металлочерепицу
              .product-complect-table-name-img
                img(src="style/img/product-complect/prod-complect-img.png", alt="")
                .product-complect-table-name-img-number 1
            .product-complect-table-desc
              p.product-complect-table-text
                | При заказе свыше 599 000 рублей замена осуществляется бесплатно
            .product-complect-table-price 100 р.
          .product-complect-table-row
            .product-complect-table-name 
              .product-complect-table-name-text Покраска стен снаружи пропиткой "Верес"
              .product-complect-table-name-img
                img(src="style/img/product-complect/prod-complect-img.png", alt="")
                .product-complect-table-name-img-number 1
            .product-complect-table-price 100 р.
          .product-complect-table-row
            .product-complect-table-name 
              .product-complect-table-name-text Замена деревянной входной двери на металлическую	
              .product-complect-table-name-img
                img(src="style/img/product-complect/prod-complect-img.png", alt="")
                .product-complect-table-name-img-number 1
            .product-complect-table-price 100 р.
          .product-complect-table-row
            .product-complect-table-name 
              .product-complect-table-name-text Замена входной двери на металлическую утепленную	
              .product-complect-table-name-img
                img(src="style/img/product-complect/prod-complect-img.png", alt="")
                .product-complect-table-name-img-number 1
            .product-complect-table-price 100 р.
          .product-complect-table-row
            .product-complect-table-name 
              .product-complect-table-name-text Замена деревянных окон на пластиковые
            .product-complect-table-price 100 р.
          .product-complect-table-row
            .product-complect-table-name 
              .product-complect-table-name-text Усиление проемов окон и дверей ройками
            .product-complect-table-price 100 р.
          .product-complect-table-row
            .product-complect-table-name 
              .product-complect-table-name-text Садовый туалет
              .product-complect-table-name-img
                img(src="style/img/product-complect/prod-complect-img.png", alt="")
                .product-complect-table-name-img-number 1
            .product-complect-table-price 100 р.
          .product-complect-table-row
            .product-complect-table-name 
              .product-complect-table-name-text Строительная бытовка
              .product-complect-table-name-img
                img(src="style/img/product-complect/prod-complect-img.png", alt="")
                .product-complect-table-name-img-number 1
            .product-complect-table-desc
              p.product-complect-table-text
                | Также подойдет как хоз. блок или например, домик для детей, 
                | где они будут играть. Оснащается окном и дверью
            .product-complect-table-price 100 р.
          .product-complect-table-row
            .product-complect-table-name 
              .product-complect-table-name-text Замена половых и потолочных лаг
              .product-complect-table-name-img
                img(src="style/img/product-complect/prod-complect-img.png", alt="")
            .product-complect-table-desc
              p.product-complect-table-text
                | Увеличение толщины для утепления конструкции, до сечения 100 х 150
            .product-complect-table-price 100 р.
          .product-complect-table-row
            .product-complect-table-name 
              .product-complect-table-name-text Монтаж водосточных труб
              .product-complect-table-name-img
                img(src="style/img/product-complect/prod-complect-img.png", alt="")
                .product-complect-table-name-img-number 1
            .product-complect-table-price 100 р.
          .product-complect-table-row
            .product-complect-table-name 
              .product-complect-table-name-text Аренда генератора
              .product-complect-table-name-img
                img(src="style/img/product-complect/prod-complect-img.png", alt="")
                .product-complect-table-name-img-number 1
            .product-complect-table-price 100 р.
          .product-complect-table-row
            .product-complect-table-name 
              .product-complect-table-name-text Замена на брус камерной сушки
              .product-complect-table-name-img
                img(src="style/img/product-complect/prod-complect-img.png", alt="")
                .product-complect-table-name-img-number 1
            .product-complect-table-price 100 р.
          .product-complect-table-row
            .product-complect-table-name 
              .product-complect-table-name-text Сборка бруса по технологии "Теплый Угол"
              .product-complect-table-name-img
                img(src="style/img/product-complect/prod-complect-img.png", alt="")
                .product-complect-table-name-img-number 1
            .product-complect-table-price 100 р.
        
        .product-complect-table-body
          .product-complect-table-head 
            | Фундамент
          .product-complect-table-row
            .product-complect-table-name 
              .product-complect-table-name-text Сваи
              .product-complect-table-name-img
                img(src="style/img/product-complect/prod-complect-img.png", alt="")
                .product-complect-table-name-img-number 1
            .product-complect-table-desc
              p.product-complect-table-text
                | Экономиечски выгодный и надежный вариант, подходящий для 
                | большинства проектов и видов грунтов
            .product-complect-table-price 100 р.
          .product-complect-table-row
            .product-complect-table-name 
              .product-complect-table-name-text Сваи ЖБ
              .product-complect-table-name-img
                img(src="style/img/product-complect/prod-complect-img.png", alt="")
                .product-complect-table-name-img-number 1
            .product-complect-table-desc
              p.product-complect-table-text
                | Современные сваи, произведенные из качественного железобетона, 
                | предназначены для погружения в землю на расчетную глубину с 
                | использованием метода забивки.
            .product-complect-table-price 100 р.
          .product-complect-table-row
            .product-complect-table-name 
              .product-complect-table-name-text Столбчатый
              .product-complect-table-name-img
                img(src="style/img/product-complect/prod-complect-img.png", alt="")
                .product-complect-table-name-img-number 1
            .product-complect-table-desc
              p.product-complect-table-text
                | Недорогой тип фундамента, подоходит не для всех сооружений
            .product-complect-table-price 100 р.
          .product-complect-table-row
            .product-complect-table-name 
              .product-complect-table-name-text Лента
              .product-complect-table-name-img
                img(src="style/img/product-complect/prod-complect-img.png", alt="")
                .product-complect-table-name-img-number 1
            .product-complect-table-desc
              p.product-complect-table-text
                | Один их самых надежных типов фундаментов. Подходит почти для 
                | всех грунтов. В отличии от опорных фундаментов срок возведения 
                | может составлять от двух недель до месяца, т.к. конструкции 
                | необходимо затвердеть
            .product-complect-table-price 100 р.
          .product-complect-table-row
            .product-complect-table-name 
              .product-complect-table-name-text Плита
              .product-complect-table-name-img
                img(src="style/img/product-complect/prod-complect-img.png", alt="")
                .product-complect-table-name-img-number 1
            .product-complect-table-desc
              p.product-complect-table-text
                | Надежная железобетонная монолитная плита. Расчет осуществляется, 
                | согласно особенностям почвы и типу проекта в индивидуальном порядке.
            .product-complect-table-price 100 р.

  .product-similar
    .container-head
      .container-head-text Похожие проекты

    .product.product-slider
      .product-item
        .product-item-wrap
          a(href="").product-item-img-wrap
            img(src="style/img/product-img.jpg", alt="").product-item-img
          .product-item-info
            .product-item-name LB-1080
            .product-item-size 
              span 120 м
              span 7 х 7
              span 2 этажа
            .product-item-room
              .product-item-room-elem 
                img(src="style/img/icon/bed.svg", alt="").product-item-room-img
                span.product-item-room-val 4 
                | спальни
              .product-item-room-elem 
                img(src="style/img/icon/bathroom.svg", alt="").product-item-room-img
                span.product-item-room-val 2 
                | санузла
            .product-item-time 
              | Срок строительства: 
              span.product-item-time-val 5 мес
          .product-item-bottom
            .product-item-price от 936 682 рублей
            a(href="").product-item-more Подробнее
      
      .product-item
        .product-item-wrap
          a(href="").product-item-img-wrap
            img(src="style/img/product-img.jpg", alt="").product-item-img
          .product-item-info
            .product-item-name LB-1080
            .product-item-size 
              span 120 м
              span 7 х 7
              span 2 этажа
            .product-item-room
              .product-item-room-elem 
                img(src="style/img/icon/bed.svg", alt="").product-item-room-img
                span.product-item-room-val 4 
                | спальни
              .product-item-room-elem 
                img(src="style/img/icon/bathroom.svg", alt="").product-item-room-img
                span.product-item-room-val 2 
                | санузла
            .product-item-time 
              | Срок строительства: 
              span.product-item-time-val 5 мес
          .product-item-bottom
            .product-item-price от 936 682 рублей
            a(href="").product-item-more Подробнее
      
      .product-item
        .product-item-wrap
          a(href="").product-item-img-wrap
            img(src="style/img/product-img.jpg", alt="").product-item-img
          .product-item-info
            .product-item-name LB-1080
            .product-item-size 
              span 120 м
              span 7 х 7
              span 2 этажа
            .product-item-room
              .product-item-room-elem 
                img(src="style/img/icon/bed.svg", alt="").product-item-room-img
                span.product-item-room-val 4 
                | спальни
              .product-item-room-elem 
                img(src="style/img/icon/bathroom.svg", alt="").product-item-room-img
                span.product-item-room-val 2 
                | санузла
            .product-item-time 
              | Срок строительства: 
              span.product-item-time-val 5 мес
          .product-item-bottom
            .product-item-price от 936 682 рублей
            a(href="").product-item-more Подробнее
      
      .product-item
        .product-item-wrap
          a(href="").product-item-img-wrap
            img(src="style/img/product-img.jpg", alt="").product-item-img
          .product-item-info
            .product-item-name LB-1080
            .product-item-size 
              span 120 м
              span 7 х 7
              span 2 этажа
            .product-item-room
              .product-item-room-elem 
                img(src="style/img/icon/bed.svg", alt="").product-item-room-img
                span.product-item-room-val 4 
                | спальни
              .product-item-room-elem 
                img(src="style/img/icon/bathroom.svg", alt="").product-item-room-img
                span.product-item-room-val 2 
                | санузла
            .product-item-time 
              | Срок строительства: 
              span.product-item-time-val 5 мес
          .product-item-bottom
            .product-item-price от 936 682 рублей
            a(href="").product-item-more Подробнее
      
      .product-item
        .product-item-wrap
          a(href="").product-item-img-wrap
            img(src="style/img/product-img.jpg", alt="").product-item-img
          .product-item-info
            .product-item-name LB-1080
            .product-item-size 
              span 120 м
              span 7 х 7
              span 2 этажа
            .product-item-room
              .product-item-room-elem 
                img(src="style/img/icon/bed.svg", alt="").product-item-room-img
                span.product-item-room-val 4 
                | спальни
              .product-item-room-elem 
                img(src="style/img/icon/bathroom.svg", alt="").product-item-room-img
                span.product-item-room-val 2 
                | санузла
            .product-item-time 
              | Срок строительства: 
              span.product-item-time-val 5 мес
          .product-item-bottom
            .product-item-price от 936 682 рублей
            a(href="").product-item-more Подробнее
      
      .product-item
        .product-item-wrap
          a(href="").product-item-img-wrap
            img(src="style/img/product-img.jpg", alt="").product-item-img
          .product-item-info
            .product-item-name LB-1080
            .product-item-size 
              span 120 м
              span 7 х 7
              span 2 этажа
            .product-item-room
              .product-item-room-elem 
                img(src="style/img/icon/bed.svg", alt="").product-item-room-img
                span.product-item-room-val 4 
                | спальни
              .product-item-room-elem 
                img(src="style/img/icon/bathroom.svg", alt="").product-item-room-img
                span.product-item-room-val 2 
                | санузла
            .product-item-time 
              | Срок строительства: 
              span.product-item-time-val 5 мес
          .product-item-bottom
            .product-item-price от 936 682 рублей
            a(href="").product-item-more Подробнее

.product-callback
  .container
    form(action="").form
      .form-title По телефону удобнее
      .form-desc Заполните форму и мы перезвоним Вам
      input(type="text" placeholder="Ваше имя").form-input
      input(type="text" placeholder="Номер телефона").form-input
      button.form-btn Отправить заявку

.container
  .faq
    .container-head
      .container-head-text Ваши вопросы (2)
      .faq-btn Задать вопрос
    
    .faq-wrap
      .faq-elem
        .faq-name Евгения Птеришко
        .faq-question “Можно ли увеличить высоту этажа?”
        .faq-answer
          .faq-answer-title Ответ:
          .faq-answer-text
            | “Банальные, но неопровержимые выводы, а также многие 
            | известные личности являются только методом политического 
            | участия и преданы социально-демократической анафеме. Сложно 
            | сказать, почему сделанные на базе интернет-аналитики выводы обнародованы.”
      
      .faq-elem
        .faq-name Евгения Птеришко
        .faq-question “Можно ли увеличить высоту этажа?”
        .faq-answer
          .faq-answer-title Ответ:
          .faq-answer-text
            | “Банальные, но неопровержимые выводы, а также многие 
            | известные личности являются только методом политического 
            | участия и преданы социально-демократической анафеме. Сложно 
            | сказать, почему сделанные на базе интернет-аналитики выводы обнародованы.”
    
    a(href="").faq-all Смотерть все

