.product-top
  .container
    .breadcrumbs
      a(href="").breadcrumbs-elem Главная
      .breadcrumbs-elem Проекты домов из клееного бруса

    .container-page-head.product-page-head 
      | Дом из клееного бруса LB-180
      .container-page-head-discount Скидка
      .product-page-head-nav
        a(href="").product-page-head-nav-elem.prev
          svg(width="14" height="27" viewBox="0 0 14 27" fill="none" xmlns="http://www.w3.org/2000/svg").product-page-head-nav-arrow
            path(d="M13 26L1 13.5L13 0.999999" stroke="#631E01" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
        a(href="").product-page-head-nav-elem.next
          svg(width="14" height="27" viewBox="0 0 14 27" fill="none" xmlns="http://www.w3.org/2000/svg").product-page-head-nav-arrow
            path(d="M1 1L13 13.5L1 26" stroke="#631E01" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")

    .product-wrap
      .product-prev-slider-wrap
        .product-prev-slider
          .product-prev-slider-item
            img(src="style/img/product-big-img.jpg", alt="").product-prev-slider-item-img
          .product-prev-slider-item
            img(src="style/img/product-big-img.jpg", alt="").product-prev-slider-item-img
          .product-prev-slider-item
            img(src="style/img/product-big-img.jpg", alt="").product-prev-slider-item-img
          .product-prev-slider-item
            img(src="style/img/product-big-img.jpg", alt="").product-prev-slider-item-img
          .product-prev-slider-item
            img(src="style/img/product-big-img.jpg", alt="").product-prev-slider-item-img
          .product-prev-slider-item
            img(src="style/img/product-big-img.jpg", alt="").product-prev-slider-item-img
        .product-prev-slider-nav
          .product-prev-slider-nav-item(data-slick-index='0').active
            .product-prev-slider-nav-item-wrap
              img(src="style/img/product-prev-slider/product-prev-slider-img-1.png", alt="").product-prev-slider-nav-item-img
          .product-prev-slider-nav-item(data-slick-index='1')
            .product-prev-slider-nav-item-wrap
              img(src="style/img/product-prev-slider/product-prev-slider-img-2.png", alt="").product-prev-slider-nav-item-img
          .product-prev-slider-nav-item(data-slick-index='2')
            .product-prev-slider-nav-item-wrap
              img(src="style/img/product-prev-slider/product-prev-slider-img-3.png", alt="").product-prev-slider-nav-item-img
          .product-prev-slider-nav-item(data-slick-index='3')
            .product-prev-slider-nav-item-wrap
              img(src="style/img/product-prev-slider/product-prev-slider-img-4.png", alt="").product-prev-slider-nav-item-img
          .product-prev-slider-nav-item(data-slick-index='4')
            .product-prev-slider-nav-item-wrap
              img(src="style/img/product-prev-slider/product-prev-slider-img-5.png", alt="").product-prev-slider-nav-item-img
          .product-prev-slider-nav-item(data-slick-index='5')
            .product-prev-slider-nav-item-wrap
              img(src="style/img/product-prev-slider/product-prev-slider-img-6.png", alt="").product-prev-slider-nav-item-img
      

      .product-sidebar-wrap
        .product-sidebar 
          .product-sidebar-elem
            .product-sidebar-size
              .product-sidebar-size-name Размер
              .product-sidebar-size-val 8х8 м
            .product-sidebar-size
              .product-sidebar-size-name Площадь
              .product-sidebar-size-val 120 кв.м
            .product-sidebar-size
              .product-sidebar-size-name Этажность
              .product-sidebar-size-val 2 этажа
          
          .product-sidebar-elem
            form(action="").product-sidebar-form
              .product-sidebar-radio-wrap
                label.product-sidebar-radio
                  input(type="radio" name="product-sidebar-radio").product-sidebar-radio-btn
                  span.product-sidebar-radio-elem
                    | Под ключ 
                label.product-sidebar-radio
                  input(type="radio" name="product-sidebar-radio").product-sidebar-radio-btn
                  span.product-sidebar-radio-elem
                    | Под усадку
            
              .product-sidebar-table
                .product-sidebar-table-head
                  .product-sidebar-table-elem Брус
                  .product-sidebar-table-elem Стоимость
                
                .product-sidebar-table-row
                  .product-sidebar-table-elem.product-sidebar-table-size
                    .product-sidebar-table-size-img-wrap
                      img(src="style/img/product-size/product-sidebar-size-1.png", alt="").product-sidebar-table-size-img
                    | 90х140
                  .product-sidebar-table-elem
                    .product-sidebar-table-price-current 936 682 рублей
                    .product-sidebar-table-price-next
                      | 1 023 938 после 21.06.2020
                
                .product-sidebar-table-row
                  .product-sidebar-table-elem.product-sidebar-table-size
                    .product-sidebar-table-size-img-wrap
                      img(src="style/img/product-size/product-sidebar-size-2.png", alt="").product-sidebar-table-size-img
                    | 140х140
                  .product-sidebar-table-elem
                    .product-sidebar-table-price-current 1 239 098 рублей
                    .product-sidebar-table-price-next
                      | 1 023 938 после 21.06.2020
                
                .product-sidebar-table-row.active
                  .product-sidebar-table-elem.product-sidebar-table-size
                    .product-sidebar-table-size-img-wrap
                      img(src="style/img/product-size/product-sidebar-size-3.png", alt="").product-sidebar-table-size-img
                    | 190х140
                  .product-sidebar-table-elem
                    .product-sidebar-table-price-current 1 239 098 рублей
                    .product-sidebar-table-price-next
                      | 1 023 938 после 21.06.2020

              .product-sidebar-note
                span.product-sidebar-note-text
                  | Брус 
                  a(href="").product-sidebar-note-link каменной сушки 
                  | +12% к стоимости
                span.product-sidebar-note-text
                  | Цена указана без стоимости 
                  a(href="").product-sidebar-note-link фундамента
              
              a(href="").product-sidebar-order Заказть строительство
          
          .product-sidebar-info
            .product-sidebar-info-elem 
              img(src="style/img/icon/credit.svg", alt="").product-sidebar-info-elem-icon
              | В кредит 7500 руб./мес.
            .product-sidebar-info-elem 
              img(src="style/img/icon/capital.svg", alt="").product-sidebar-info-elem-icon
              | Маткапитал
            .product-sidebar-info-elem 
              img(src="style/img/icon/like.svg", alt="").product-sidebar-info-elem-icon
              | Сельская ипотека 2,7%
          
          .product-sidebar-footer
            .product-sidebar-footer-title Без предоплаты
            .product-sidebar-footer-elem 
              span 70% 
              | после разгрузки строительных материалов на участок
            .product-sidebar-footer-elem 
              span 30% 
              | после завершения строительства

