.container
  .breadcrumbs
    a(href="").breadcrumbs-elem Главная
    .breadcrumbs-elem Стандарты ГОСТ и СНиП
    
  .container-big-head Стандарты ГОСТ и СНиП

  .standard-desc
    | Соблюдение стандартов залог надежности, прочности и долговечности конструкции, 
    | сохранения рыночной стоимости. Мы в компании Загородный Стандарт очень трепетно 
    | относимся к соблюдению положений указанный в документах, с которыми Вы можете 
    | ознакомиться на странице. При необходимости технические специалисты компании 
    | дадут разъяснение по каждому неясному пункту и объяснят где, какие и зачем 
    | стандарты необходимо соблюдать.

  .standard-wrap
    .standard-elem
      .standard-elem-wrap
        a(href="" download).standard-elem-download
          img(src="style/img/icon/pdf02.svg", alt="").standard-elem-download-img
        .standard-elem-info
          .standard-elem-title ГОСТ 26629-85
          .standard-elem-desc
            | Метод тепловизионного контроля качества теплоизоляции 
            | ограждающих конструкций
          a(href="").standard-elem-link Просмотреть
    
    .standard-elem
      .standard-elem-wrap
        a(href="" download).standard-elem-download
          img(src="style/img/icon/pdf02.svg", alt="").standard-elem-download-img
        .standard-elem-info
          .standard-elem-title ГОСТ 4.201-79
          .standard-elem-desc
            | Строительство. Материалы и изделия теплоизоляционные. 
            | Номенклатура показателей.
          a(href="").standard-elem-link Просмотреть
    
    .standard-elem
      .standard-elem-wrap
        a(href="" download).standard-elem-download
          img(src="style/img/icon/pdf09.svg", alt="").standard-elem-download-img
        .standard-elem-info
          .standard-elem-title ГОСТ 8242-88
          .standard-elem-desc
            | Метод тепловизионного контроля качества теплоизоляции 
            | ограждающих конструкций
          a(href="").standard-elem-link Просмотреть
    
    .standard-elem
      .standard-elem-wrap
        a(href="" download).standard-elem-download
          img(src="style/img/icon/pdf08.svg", alt="").standard-elem-download-img
        .standard-elem-info
          .standard-elem-title ГОСТ 30974-2002
          .standard-elem-desc
            | Соединения угловые деревянных брусчатых и деревянных 
            | малоэтажных зданий.
          a(href="").standard-elem-link Просмотреть
    
    .standard-elem
      .standard-elem-wrap
        a(href="" download).standard-elem-download
          img(src="style/img/icon/pdf02.svg", alt="").standard-elem-download-img
        .standard-elem-info
          .standard-elem-title ГОСТ 11047-90
          .standard-elem-desc
            | Детали и изделия деревянные для малоэтажных 
            | жилых и общественных зданий.
          a(href="").standard-elem-link Просмотреть
    
    .standard-elem
      .standard-elem-wrap
        a(href="" download).standard-elem-download
          img(src="style/img/icon/pdf04.svg", alt="").standard-elem-download-img
        .standard-elem-info
          .standard-elem-title ГОСТ 21779-821
          .standard-elem-desc
            | Система обеспечения точности геометрических 
            | параметров в строительстве.
          a(href="").standard-elem-link Просмотреть
    
    .standard-elem
      .standard-elem-wrap
        a(href="" download).standard-elem-download
          img(src="style/img/icon/pdf22.svg", alt="").standard-elem-download-img
        .standard-elem-info
          .standard-elem-title СНИП 2-25-80
          .standard-elem-desc
            | Деревянные конструкции.
          a(href="").standard-elem-link Просмотреть

.question
  img(src="style/img/catalog-question-bg.jpg", alt="").question-bg
  .container
    form(action="").form
      .form-title Хотите углубиться и разобраться в деталях?
      .form-desc Заполните форму ниже и мы Вас проконсультируем
      input(type="text" placeholder="Ваше имя").form-input
      input(type="text" placeholder="Номер телефона / Почта").form-input
      button.form-btn Отправить заявку

        