.warranty-header
  .container
    .warranty-header-info
      .breadcrumbs
        a(href="").breadcrumbs-elem Главная
        a(href="").breadcrumbs-elem Клиентам
        .breadcrumbs-elem Клиентам
      .warranty-header-title Гарантия на деревянные дома
      .warranty-header-desc 
        | Производство строительных материалов и строительство 
        | дома разделены на этапы, каждый из которых контролируется. 
        | Некачественная древесина выбраковывается, нарушение технологий 
        | устраняется. В силу различных обстоятельств могут возникать 
        | гарантийные случаи. Компания содержит в штате бригады, которые 
        | занимаются выявлением и устранением дефектов.

.container
  .warranty-build-cover
    .container-head
      .container-head-text На какие строения распространяется гарантия
    
    .warranty-build-cover-wrap
      a(href="").warranty-build-cover-elem
        img(src="style/img/warranty-build-img/warranty-build-img-1.png", alt="").warranty-build-cover-elem-img
        .warranty-build-cover-elem-name
          span.warranty-build-cover-elem-name-text Дома из бруса

      a(href="").warranty-build-cover-elem
        img(src="style/img/warranty-build-img/warranty-build-img-2.png", alt="").warranty-build-cover-elem-img
        .warranty-build-cover-elem-name
          span.warranty-build-cover-elem-name-text Срубы домов

      a(href="").warranty-build-cover-elem
        img(src="style/img/warranty-build-img/warranty-build-img-3.png", alt="").warranty-build-cover-elem-img
        .warranty-build-cover-elem-name
          span.warranty-build-cover-elem-name-text Каркасные дома

      a(href="").warranty-build-cover-elem
        img(src="style/img/warranty-build-img/warranty-build-img-4.png", alt="").warranty-build-cover-elem-img
        .warranty-build-cover-elem-name
          span.warranty-build-cover-elem-name-text Срубы бань

      a(href="").warranty-build-cover-elem
        img(src="style/img/warranty-build-img/warranty-build-img-5.png", alt="").warranty-build-cover-elem-img
        .warranty-build-cover-elem-name
          span.warranty-build-cover-elem-name-text Бани из бруса

      a(href="").warranty-build-cover-elem
        img(src="style/img/warranty-build-img/warranty-build-img-6.png", alt="").warranty-build-cover-elem-img
        .warranty-build-cover-elem-name
          span.warranty-build-cover-elem-name-text Фундаменты
    
  .warranty-cover
    .container-head
      .container-head-text Гарантия распространяется на

    .warranty-cover-wrap
      .warranty-cover-elem
        .warranty-cover-img-wrap
          img(src="style/img/warranty-cover-img/warranty-cover-img-1.svg", alt="").warranty-cover-img
        .warranty-cover-text 
          | Открывание и протекание дверей и окон
      
      .warranty-cover-elem
        .warranty-cover-img-wrap
          img(src="style/img/warranty-cover-img/warranty-cover-img-2.svg", alt="").warranty-cover-img
        .warranty-cover-text 
          | Целостность конструкции

      .warranty-cover-elem
        .warranty-cover-img-wrap
          img(src="style/img/warranty-cover-img/warranty-cover-img-3.svg", alt="").warranty-cover-img
        .warranty-cover-text 
          | Герметичность крыши (протекание кровли)
  
  .warranty-term
    .container-head
      .container-head-text Гарантийные сроки
    
    .warranty-term-wrap
      .warranty-term-elem.grey
        .warranty-term-elem-wrap
          .warranty-term-elem-text
            | Дома и бани 
            br 
            b от 1 года до 3х лет,
            br
            | в зависимости от 
            br
            | комплектации
          img(src="style/img/warranty-term-img/warranty-term-img-1.svg", alt="").warranty-term-elem-img

      .warranty-term-elem.yellow
        .warranty-term-elem-wrap
          .warranty-term-elem-text
            | Гарантия на свайный 
            br 
            | фундамент 
            br
            b 10 лет
          img(src="style/img/warranty-term-img/warranty-term-img-2.svg", alt="").warranty-term-elem-img

    .warranty-term-note
      | При наступлении гарантийного случая, мы бесплатно устраним 
      | дефекты за 14 дней без экспертиз и лишних разговоров

.warranty-question
  .container
    form(action="").form
      .form-title Остались вопросы?
      .form-desc Напишите нам свой вопрос и мы ответим вам в ближайшее время!
      input(type="text" placeholder="Ваше имя").form-input
      input(type="text" placeholder="Номер телефона").form-input
      button.form-btn Отправить заявку




        
