.footer
  display: block
  margin:
    top: auto
  padding:
    top: 60px
    bottom: 25px
  width: 100%
  background-color: #E2E2E2
  -webkit-box-flex: 0
  -ms-flex: 0 0 auto
  flex: 0 0 auto

  .container
    max-width: 1150px

  &-wrap
    +flex
    +justify-content(space-between)

  &-logo
    max-width: 200px

  .social
    margin:
      top: 15px

    &-link
      background-color: #631E01

  &-nav
    +flex
    margin: 0 50px
    +justify-content(space-between)

    &-elem
      margin:
        right: 35px

      &:last-child
        margin: 0
      
      &.other
        .footer-nav-link
          margin:
            bottom: 5px

    &-link
      display: block
      margin:
        bottom: 20px
      font-size: 16px
      font-weight: 700
      line-height: 19px
      color: $font-color
    
    &-wrap
      +flex

      .footer-nav-list
        &:first-child
          margin:
            right: 15px

    &-list
      list-style-type: none

      &-link 
        font-size: 14px
        font-weight: 500
        line-height: 16px
        color: rgba(0, 0, 0, .6)

  &-contact
    max-width: 190px
    
    &-elem
      display: block
      position: relative
      margin:
        bottom: 13px
      padding:
        left: 23px
      font-size: 14px
      font-weight: 500
      line-height: 16px
      color: rgba(0, 0, 0, .6)

      &.phone
        font-size: 20px
        font-weight: 700
        line-height: 24px
        color: #000
    
      &-icon
        position: absolute
        top: 3px
        left: 0

  &-copyright
    margin:
      top: 30px
    font-size: 16px
    font-weight: 400
    line-height: 21px
    color: #BCBCBC
    text-align: center

    b
      font-weight: 700