.header
  display: block
  width: 100%
  background-color: $white
  
  &-wrap
    +flex
    +justify-content(space-between)
    +align-items(center)

  &-t
    padding:
      top: 15px
      bottom: 7px
    border:
      bottom: 2px solid #F7F7F8
  
  &-b
    padding:
      top: 12px
      bottom: 14px
    border:
      bottom: 1px solid #F5F5F5

  &-logo
    display: block
    position: relative
    max-width: 198px
    +prefix(transition, $default-transition)
    z-index: 9999

    &-img
      width: 100%
    
    &:hover
      opacity: $default-opacity
  
  &-elem
    max-width: 195px

  &-info
    &-item
      position: relative
      padding:
        left: 26px
      font-size: 14px
      font-weight: 500
      color: $font-color
      line-height: 22px
      +prefix(transition, $default-transition)

      &.address
        padding:
          left: 18px

      &.phone
        padding:
          left: 24px
        font-size: 20px
        font-weight: 700
        line-height: 24px

      &-icon
        display: block
        position: absolute
        top: 3px
        left: 0
  
  a.header-info-item:hover
    opacity: $default-opacity

  &-call
    display: block
    margin:
      top: 10px
    font-size: 14px
    font-weight: 500
    line-height: 16px
    color: #682F13
    text-align: center
    border:
      bottom: 2px dashed #682F13
    cursor: pointer

    &:hover
      border-bottom-style: solid
  
  &-project
    position: relative
    min-width: 194px

    &-title
      +flex
      position: relative
      padding: 12px 20px 13px 20px
      font-size: 16px
      font-weight: 700
      line-height: 19px
      color: #682F13
      background-color: #F4EBD4
      border: 1px solid transparent
        radius: 10px
      +align-items(center)
      +prefix(transition, $default-transition)
      cursor: pointer
      z-index: 1

    &-btn
      position: relative
      margin:
        right: 10px
      width: 18px
      height: 11px

      span
        display: block
        position: absolute
        width: 100%
        height: 3px
        background-color: #682F13
        border-radius: 20px
        +prefix(transition, $default-transition)
      
        &:nth-child(1)
          top: -1px
        
        &:nth-child(2)
          margin-top: -2px
          top: 50%

        &:nth-child(3)
          bottom: -1px

    &-dropdown
      display: none
      position: absolute
      padding: 0 20px
        top: 15px
        bottom: 35px
      top: 45px
      left: 0
      width: 100%
      background-color: $white
      border: 1px solid #DFDFDF
        top: 0
      border:
        radius: 10px
        top-left-radius: 0
        top-right-radius: 0 
      +box-shadow(0px 5px 7px rgba(0, 0, 0, 0.1))
      z-index: 2

    &-link
      display: block
      padding: 12px 0
      font-size: 14px
      line-height: 16px
      color: $font-color
      +prefix(transition, $default-transition)

      &:hover
        opacity: $default-opacity

      &:first-child
        padding:
          top: 0
      
      &:last-child
        padding:
          bottom: 0

    &-title.active
      background-color: $white
      border: 1px solid #DFDFDF
        bottom: 0
      border:
        bottom-left-radius: 0
        bottom-right-radius: 0
      +box-shadow(0px 5px 7px rgba(0, 0, 0, 0.1))

      .header-project-btn
        span
          &:nth-child(1),
          &:nth-child(3)
            margin-top: -2px
            top: 50%
            bottom: auto

          &:nth-child(1)
            +prefix(transform, rotate(45deg))
          
          &:nth-child(2)
            width: 0

          &:nth-child(3)
            +prefix(transform, rotate(-45deg))
  
  &-nav
    +flex

    &-item 
      +flex 
      position: relative
      margin: 0 25px
      font-size: 16px
      font-weight: 500
      line-height: 19px
      color: $font-color
      +align-items(center)
      cursor: pointer

      &:after
        content: ''
        display: block
        position: absolute
        left: 0
        bottom: -28px
        width: 0
        height: 4px
        background-color: #682F13
        +prefix(transition, $default-transition)
        opacity: 0

      &-arrow
        margin:
          left: 6px
        +prefix(transition, $default-transition)

      &-icon
        margin:
          right: 6px

      &:hover
        &:after
          width: 100%
          opacity: 1
        
        .header-nav-dropdown
          display: block
        
        .header-nav-item-arrow
          +prefix(transform, rotate(180deg))
  
    &-dropdown
      display: none
      position: absolute
      padding:
        top: 46px
      top: 0
      left: 0
      +prefix(transform, translateX(-25%))
      z-index: 1000

      &-wrap
        padding: 0 25px
          top: 15px
          bottom: 20px
        background-color: $white 
        border: 1px solid #DFDFDF
          bottom-left-radius: 10px
          bottom-right-radius: 10px
        +box-shadow(0px 5px 7px rgba(0, 0, 0, 0.1))
      
      &-link
        display: block
        padding: 12px 0
        font-size: 14px
        font-weight: 500
        line-height: 16px
        color: $font-color
        white-space: nowrap
        +prefix(transition, $default-transition)

        &:hover
          opacity: $default-opacity

        &:first-child
          padding:
            top: 0
        
        &:last-child
          padding:
            bottom: 0

  &-calculator
    display: block 
    padding: 13px 19px 14px 24px
    font-size: 16px
    font-weight: 700
    line-height: 19px
    color: $green-color 
    background-color: $bg-light-green
    border-radius: 10px
    +prefix(transition, $default-transition)
    cursor: pointer
  
    &:hover
      background-color: #cbffb3

  &-menu-btn
    display: none
    position: relative
    margin:
      left: 15px
    width: 30px
    height: 11px
    z-index: 9999

    span
      display: block
      position: absolute
      width: 100%
      height: 5px
      background-color: #682F13
      border-radius: 10px
      +prefix(transition, $default-transition)
    
      &:nth-child(1)
        top: -4px
      
      &:nth-child(2)
        margin-top: -3px
        top: 50%

      &:nth-child(3)
        bottom: -4px

    &.active
      span
        &:nth-child(1),
        &:nth-child(3)
          margin-top: -2px
          top: 50%
          bottom: auto

        &:nth-child(1)
          +prefix(transform, rotate(45deg))
        
        &:nth-child(2)
          width: 0

        &:nth-child(3)
          +prefix(transform, rotate(-45deg))

.mobile-menu
  display: none
  position: fixed
  padding: 30px 20px
    top: 90px 
  top: 0
  left: 0
  right: 0
  bottom: 0
  width: 100% 
  height: 100%
  background-color: $white
  overflow: auto
  z-index: 999

  &:before
    content: ''
    position: fixed
    top: 0
    left: 0
    width: 100%
    height: 75px
    background: rgb(2,0,36)
    background: -moz-linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(116,116,142,0) 0%, rgba(255,255,255,1) 41%)
    background: -webkit-linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(116,116,142,0) 0%, rgba(255,255,255,1) 41%)
    background: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(116,116,142,0) 0%, rgba(255,255,255,1) 41%)
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#020024",endColorstr="#ffffff",GradientType=1)
    z-index: 999

  &-list
    list-style-type: none

    li
      margin:
        bottom: 18px

      &:last-child
        margin:
          bottom: 0
      
      &.active
        .mobile-menu-list-elem
          &.toggle

            &:after
              +prefix(transform, rotate(180deg))
  
    &-elem
      position: relative
      font-size: 16px
      font-weight: 700
      line-height: 19px
      color: #682F13
    
      &.toggle
        padding:
          right: 20px

        &:after
          content: ''
          display: block
          position: absolute
          margin:
            top: -1px
          top: 50%
          right: 0
          width: 10px
          height: 5px
          background-image: url(../img/icon/arrow-d.svg)
          background-size: 100% auto
          background-position: center center
          background-repeat: no-repeat
          +prefix(transition, $default-transition)
      
      &.action
        padding:
          right: 22px

        &:after
          content: ''
          position: absolute
          margin:
            top: -8px
          top: 50%
          right: 0
          width: 17px
          height: 18px
          background-image: url(../img/icon/action.svg)
          background-size: 100% auto
          background-position: center center
          background-repeat: no-repeat 

  &-dropdown
    display: none
    margin:
      top: 12px
    list-style-type: none

    li
      margin:
        bottom: 21px

      &:last-child
        margin:
          bottom: 0

    &-elem
      font-size: 14px
      font-weight: 500
      line-height: 16px
      color: $font-color
  
  .header-calculator 
    margin:
      top: 20px
    text-align: center
  
  .header-call 
    margin: 0 auto
      top: 20px
    max-width: 180px
    font-size: 14px
    line-height: 16px