footer.footer
  .container
    .footer-wrap
      .footer-elem
        img(src="style/img/icon/logo.svg", alt="").footer-logo
        .social
          a(href="").social-link
            img(src="style/img/icon/inst.svg", alt="").social-link-img
          a(href="").social-link
            img(src="style/img/icon/fb.svg", alt="").social-link-img
          a(href="").social-link
            img(src="style/img/icon/vk.svg", alt="").social-link-img
      
      .footer-elem
        .footer-nav
          .footer-nav-elem
            a(href="").footer-nav-link Проекты домов
            ul.footer-nav-list
              li
                a(href="").footer-nav-list-link Дома из бруса 
              li
                a(href="").footer-nav-list-link Каркасные дома
              li
                a(href="").footer-nav-list-link Бани из бруса
              li
                a(href="").footer-nav-list-link Каркасные бани
              li
                a(href="").footer-nav-list-link Деревянные дома
          
          .footer-nav-elem
            a(href="").footer-nav-link Клиентам
            .footer-nav-wrap
              ul.footer-nav-list
                li
                  a(href="").footer-nav-list-link О компании
                li
                  a(href="").footer-nav-list-link Калькулятор
                li
                  a(href="").footer-nav-list-link Гарантия
                li
                  a(href="").footer-nav-list-link Производство
                li
                  a(href="").footer-nav-list-link Новости
              
              ul.footer-nav-list
                li
                  a(href="").footer-nav-list-link Доставка и оплата
                li
                  a(href="").footer-nav-list-link Договор
                li
                  a(href="").footer-nav-list-link Фундамент
          
          .footer-nav-elem.other
            a(href="").footer-nav-link Фотогалерея
            a(href="").footer-nav-link Акции
            a(href="").footer-nav-link Стандарты ГОСТ

      .footer-elem
        .footer-contact
          a(href="tel:+78127777777").footer-contact-elem.phone
            img(src="style/img/icon/phone.svg", alt="").footer-contact-elem-icon
            | +7 (812) 777-77-77
          a(href="mailto:info@zagorod-standart.ru").footer-contact-elem
            img(src="style/img/icon/mail.svg", alt="").footer-contact-elem-icon
            | info@zagorod-standart.ru
          .footer-contact-elem
            img(src="style/img/icon/pin.svg", alt="").footer-contact-elem-icon
            | Санкт-Петербург, Выборгское ш. 212

    .footer-copyright 
      | © 
      b Загородный стандарт 
      | Все права защищены






