header.header
  .header-t
    .container.header-wrap
      a(href="").header-logo
        img(src="style/img/icon/logo.svg", alt="").header-logo-img
      .header-elem
        .header-info-item.address
          img(src="style/img/icon/pin.svg", alt="").header-info-item-icon
          | Санкт-Петербург, Выборгское ш. 212
      .header-elem
        .header-info-item 
          img(src="style/img/icon/clock.svg", alt="").header-info-item-icon
          | Пн – Вс
          b 09:00-18:00
        a(href="mailto:info@zagorod-standart.ru").header-info-item
          img(src="style/img/icon/mail.svg", alt="").header-info-item-icon
          | info@zagorod-standart.ru
      .header-elem
        a(href="tel:+78127777777").header-info-item.phone
          img(src="style/img/icon/phone.svg", alt="").header-info-item-icon
          | +7 (812) 777-77-77
        .header-call
          | Заказать обратный звонок 
  .header-b
    .container.header-wrap
      .header-project
        .header-project-title
          .header-project-btn
            span
            span
            span
          | Проекты домов 
        .header-project-dropdown
          a(href="").header-project-link Дома из бруса
          a(href="").header-project-link Каркасные дома
          a(href="").header-project-link Бани из бруса
          a(href="").header-project-link Каркасные бани
          a(href="").header-project-link Деревянные дома
      nav.header-nav
        .header-nav-item
          | Клиентам
          img(src="style/img/icon/arrow-d.svg", alt="").header-nav-item-arrow
          .header-nav-dropdown
            .header-nav-dropdown-wrap
              a(href="").header-nav-dropdown-link Дома из бруса
              a(href="").header-nav-dropdown-link Каркасные дома
              a(href="").header-nav-dropdown-link Бани из бруса
              a(href="").header-nav-dropdown-link Каркасные бани
              a(href="").header-nav-dropdown-link Деревянные дома
        .header-nav-item
          | Услуги
          img(src="style/img/icon/arrow-d.svg", alt="").header-nav-item-arrow
          .header-nav-dropdown
            .header-nav-dropdown-wrap
              a(href="").header-nav-dropdown-link Дома из бруса
              a(href="").header-nav-dropdown-link Каркасные дома
              a(href="").header-nav-dropdown-link Бани из бруса
              a(href="").header-nav-dropdown-link Каркасные бани
              a(href="").header-nav-dropdown-link Деревянные дома
        a(href="").header-nav-item
          | Построено
        a(href="").header-nav-item
          img(src="style/img/icon/action.svg", alt="").header-nav-item-icon
          | Акции
        a(href="").header-nav-item
          | Контакты
      a(href="").header-calculator Рассчитать проект 